$sds-border-negative-default: 1px solid #DC132C;
$sds-border-base-divider: 1px solid #EAEAEA;
$sds-border-base-table: 1px solid #CCCCCC;
$sds-border-base-disabled: 1px solid #CCCCCC;
$sds-border-base-default: 1px solid #999999;
$sds-border-base-black: 1px dashed #000000;
$sds-border-base-hover: 1px dashed #000000;
$sds-border-base-dashed: 1px dashed #999999;
$sds-border-link-dashed: 1px dashed;
$sds-border-link-solid: 1px solid;
$sds-border-accent-disabled: 1px solid #A6C9FF;
$sds-border-accent-default: 1px solid #0B68F8;
$sds-border-accent-hover: 1px solid #0142A4;
$sds-border-accent-dashed: 2px dashed #0B68F8;
$sds-border-info-default: 1px solid #0B68F8;
$sds-border-beta-default: 1px solid #7A41CE;
$sds-border-positive-default: 1px solid #3CB371;
$sds-border-notice-default: 1px solid #F5A623;
$sds-border-neutral-default: 1px solid #999999;
$sds-border-none: none;
$sds-color-primitive-common-black: #000000;
$sds-color-primitive-common-white: #FFFFFF;
$sds-color-primitive-blue-100: #F5F9FF;
$sds-color-primitive-blue-200: #E9F1FF;
$sds-color-primitive-blue-300: #A6C9FF;
$sds-color-primitive-blue-400: #0B68F8;
$sds-color-primitive-blue-500: #0142A4;
$sds-color-primitive-blue-600: #002660;
$sds-color-primitive-gray-100: #F8F8F8;
$sds-color-primitive-gray-200: #EAEAEA;
$sds-color-primitive-gray-300: #CCCCCC;
$sds-color-primitive-gray-400: #999999;
$sds-color-primitive-gray-500: #767676;
$sds-color-primitive-gray-600: #545454;
$sds-color-primitive-green-100: #ECF5F0;
$sds-color-primitive-green-200: #E6F7ED;
$sds-color-primitive-green-400: #3CB371;
$sds-color-primitive-green-500: #349A61;
$sds-color-primitive-green-600: #1C7F48;
$sds-color-primitive-purple-100: #F4F0F9;
$sds-color-primitive-purple-200: #F0EBF6;
$sds-color-primitive-purple-400: #7A41CE;
$sds-color-primitive-purple-500: #703CBE;
$sds-color-primitive-purple-600: #693BAC;
$sds-color-primitive-red-100: #FEF2F2;
$sds-color-primitive-red-200: #F8E8E8;
$sds-color-primitive-red-400: #DC132C;
$sds-color-primitive-red-500: #C61128;
$sds-color-primitive-red-600: #B70016;
$sds-color-primitive-yellow-100: #FCF6EC;
$sds-color-primitive-yellow-200: #FFF3E1;
$sds-color-primitive-yellow-400: #F5A623;
$sds-color-primitive-yellow-500: #D8921F;
$sds-color-primitive-yellow-600: #946314;
$sds-color-primitive-overlay-100: rgba(0, 0, 0, 0.08);
$sds-color-primitive-overlay-200: rgba(0, 0, 0, 0.03);
$sds-color-semantic-text-base-primary: #000000;
$sds-color-semantic-text-base-secondary: #767676;
$sds-color-semantic-text-base-disabled: #CCCCCC;
$sds-color-semantic-text-base-on-fill: #FFFFFF;
$sds-color-semantic-text-base-on-fill-disabled: #999999;
$sds-color-semantic-text-base-accent: #002660;
$sds-color-semantic-text-action-default: #0B68F8;
$sds-color-semantic-text-action-hover: #0142A4;
$sds-color-semantic-text-action-pressed: #002660;
$sds-color-semantic-text-beta: #693BAC;
$sds-color-semantic-text-info: #002660;
$sds-color-semantic-text-negative: #B70016;
$sds-color-semantic-text-neutral: #545454;
$sds-color-semantic-text-notice: #946314;
$sds-color-semantic-text-positive: #1C7F48;
$sds-color-semantic-component-base-fill: #FFFFFF;
$sds-color-semantic-component-base-fill-hover: #F8F8F8;
$sds-color-semantic-component-base-fill-pressed: #F8F8F8;
$sds-color-semantic-component-base-fill-open: #F8F8F8;
$sds-color-semantic-component-base-fill-selected: #000000;
$sds-color-semantic-component-base-fill-disabled: #CCCCCC;
$sds-color-semantic-component-base-on-fill-disabled: #999999;
$sds-color-semantic-component-base-surface: #FFFFFF;
$sds-color-semantic-component-base-surface-primary: #FFFFFF;
$sds-color-semantic-component-base-surface-secondary: #F8F8F8;
$sds-color-semantic-component-base-surface-tertiary: #EAEAEA;
$sds-color-semantic-component-base-divider: #EAEAEA;
$sds-color-semantic-component-base-border: #999999;
$sds-color-semantic-component-base-border-hover: #000000;
$sds-color-semantic-component-base-border-disabled: #CCCCCC;
$sds-color-semantic-component-base-border-pressed: #000000;
$sds-color-semantic-component-base-border-table: #CCCCCC;
$sds-color-semantic-component-base-icon: #767676;
$sds-color-semantic-component-base-icon-hover: #000000;
$sds-color-semantic-component-base-icon-pressed: #000000;
$sds-color-semantic-component-base-icon-disabled: #CCCCCC;
$sds-color-semantic-component-accent-fill: #0B68F8;
$sds-color-semantic-component-accent-fill-hover: #0142A4;
$sds-color-semantic-component-accent-fill-pressed: #002660;
$sds-color-semantic-component-accent-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-accent-fill-disabled: #A6C9FF;
$sds-color-semantic-component-accent-surface: #E9F1FF;
$sds-color-semantic-component-accent-border: #0B68F8;
$sds-color-semantic-component-accent-border-hover: #0142A4;
$sds-color-semantic-component-accent-border-open: #0B68F8;
$sds-color-semantic-component-accent-border-focus: #0B68F8;
$sds-color-semantic-component-accent-border-pressed: #002660;
$sds-color-semantic-component-accent-border-selected: #0B68F8;
$sds-color-semantic-component-accent-border-disabled: #A6C9FF;
$sds-color-semantic-component-accent-icon: #0B68F8;
$sds-color-semantic-component-beta-fill: #7A41CE;
$sds-color-semantic-component-beta-fill-hover: #703CBE;
$sds-color-semantic-component-beta-fill-pressed: #693BAC;
$sds-color-semantic-component-beta-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-beta-surface: #F0EBF6;
$sds-color-semantic-component-beta-border: #7A41CE;
$sds-color-semantic-component-beta-icon: #7A41CE;
$sds-color-semantic-component-info-fill: #0B68F8;
$sds-color-semantic-component-info-fill-hover: #0142A4;
$sds-color-semantic-component-info-fill-pressed: #002660;
$sds-color-semantic-component-info-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-info-surface: #E9F1FF;
$sds-color-semantic-component-info-border: #0B68F8;
$sds-color-semantic-component-info-icon: #0B68F8;
$sds-color-semantic-component-negative-fill: #DC132C;
$sds-color-semantic-component-negative-fill-hover: #C61128;
$sds-color-semantic-component-negative-fill-pressed: #B70016;
$sds-color-semantic-component-negative-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-negative-surface: #F8E8E8;
$sds-color-semantic-component-negative-border: #DC132C;
$sds-color-semantic-component-negative-icon: #DC132C;
$sds-color-semantic-component-neutral-fill: #999999;
$sds-color-semantic-component-neutral-fill-hover: #767676;
$sds-color-semantic-component-neutral-fill-pressed: #545454;
$sds-color-semantic-component-neutral-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-neutral-surface: #EAEAEA;
$sds-color-semantic-component-neutral-border: #999999;
$sds-color-semantic-component-neutral-icon: #999999;
$sds-color-semantic-component-notice-fill: #F5A623;
$sds-color-semantic-component-notice-fill-hover: #D8921F;
$sds-color-semantic-component-notice-fill-pressed: #946314;
$sds-color-semantic-component-notice-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-notice-surface: #FFF3E1;
$sds-color-semantic-component-notice-border: #F5A623;
$sds-color-semantic-component-notice-icon: #F5A623;
$sds-color-semantic-component-positive-fill: #3CB371;
$sds-color-semantic-component-positive-fill-hover: #349A61;
$sds-color-semantic-component-positive-fill-pressed: #1C7F48;
$sds-color-semantic-component-positive-fill-on-fill: #FFFFFF;
$sds-color-semantic-component-positive-surface: #E6F7ED;
$sds-color-semantic-component-positive-border: #3CB371;
$sds-color-semantic-component-positive-icon: #3CB371;
$sds-corner-l: 20px;
$sds-corner-m: 4px;
$sds-corner-s: 2px;
$sds-corner-none: 0px;
$sds-drop-shadow-l: 0.0px 2.0px 12.0px 0px rgba(0, 0, 0, 0.3);
$sds-drop-shadow-m: 0.0px 2.0px 10.0px 0px rgba(0, 0, 0, 0.15), 0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.15);
$sds-drop-shadow-s: 0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.25);
$sds-drop-shadow-none: none;
$sds-font-color: black;
$sds-font-font-family-body: "Inter", sans-serif;
$sds-font-font-family-caps: "Inter", sans-serif;
$sds-font-font-family-code: "IBM Plex Mono", monospace;
$sds-font-font-family-header: "Inter", sans-serif;
$sds-font-font-family-tabular: "Inter", sans-serif;
$sds-font-body-xxxs-400-font: 400 11px/16px "Inter", sans-serif;
$sds-font-body-xxxs-400-letter-spacing: 0.1px;
$sds-font-body-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-body-xxxs-600-letter-spacing: 0.1px;
$sds-font-body-xxs-400-font: 400 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-400-letter-spacing: 0.1px;
$sds-font-body-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-600-letter-spacing: 0.1px;
$sds-font-body-xs-400-font: 400 13px/20px "Inter", sans-serif;
$sds-font-body-xs-400-letter-spacing: 0.08px;
$sds-font-body-xs-600-font: 600 13px/20px "Inter", sans-serif;
$sds-font-body-xs-600-letter-spacing: 0.08px;
$sds-font-body-s-400-font: 400 14px/24px "Inter", sans-serif;
$sds-font-body-s-400-letter-spacing: 0.08px;
$sds-font-body-s-600-font: 600 14px/24px "Inter", sans-serif;
$sds-font-body-s-600-letter-spacing: 0.08px;
$sds-font-body-m-400-font: 400 16px/26px "Inter", sans-serif;
$sds-font-body-m-400-letter-spacing: 0px;
$sds-font-body-m-600-font: 600 16px/26px "Inter", sans-serif;
$sds-font-body-m-600-letter-spacing: 0px;
$sds-font-body-l-400-font: 400 18px/28px "Inter", sans-serif;
$sds-font-body-l-400-letter-spacing: 0px;
$sds-font-body-l-600-font: 600 18px/28px "Inter", sans-serif;
$sds-font-body-l-600-letter-spacing: 0px;
$sds-font-caps-xxxxs-600-font: 600 10px/14px "Inter", sans-serif;
$sds-font-caps-xxxxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxxxs-600-text-transform:  uppercase;
$sds-font-caps-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-caps-xxxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxxs-600-text-transform:  uppercase;
$sds-font-caps-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-caps-xxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxs-600-text-transform:  uppercase;
$sds-font-header-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-header-xxxs-600-letter-spacing: 0.1px;
$sds-font-header-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-header-xxs-600-letter-spacing: 0.1px;
$sds-font-header-xs-600-font: 600 13px/18px "Inter", sans-serif;
$sds-font-header-xs-600-letter-spacing: 0.08px;
$sds-font-header-s-600-font: 600 14px/20px "Inter", sans-serif;
$sds-font-header-s-600-letter-spacing: 0.08px;
$sds-font-header-m-600-font: 600 16px/22px "Inter", sans-serif;
$sds-font-header-m-600-letter-spacing: 0px;
$sds-font-header-l-600-font: 600 18px/24px "Inter", sans-serif;
$sds-font-header-l-600-letter-spacing: 0px;
$sds-font-header-xl-600-font: 600 22px/30px "Inter", sans-serif;
$sds-font-header-xl-600-letter-spacing: 0px;
$sds-font-header-xxl-600-font: 600 26px/34px "Inter", sans-serif;
$sds-font-header-xxl-600-letter-spacing: 0px;
$sds-font-tabular-xs-400-font: 400 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-400-font-variant-numeric: tabular-nums;
$sds-font-tabular-xs-400-letter-spacing: 0px;
$sds-font-tabular-xs-600-font: 600 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-600-font-variant-numeric: tabular-nums;
$sds-font-tabular-xs-600-letter-spacing: 0px;
$sds-font-tabular-s-400-font: 400 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-400-font-variant-numeric: tabular-nums;
$sds-font-tabular-s-400-letter-spacing: 0px;
$sds-font-tabular-s-600-font: 600 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-600-font-variant-numeric: tabular-nums;
$sds-font-tabular-s-600-letter-spacing: 0px;
$sds-font-code-xs-400-font: 400 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-400-letter-spacing: 0px;
$sds-font-code-xs-600-font: 600 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-600-letter-spacing: 0px;
$sds-font-code-s-400-font: 400 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-400-letter-spacing: 0px;
$sds-font-code-s-600-font: 600 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-600-letter-spacing: 0px;
$sds-icon-size-input-height: 16px;
$sds-icon-size-input-width: 16px;
$sds-icon-size-xs-height: 12px;
$sds-icon-size-xs-width: 12px;
$sds-icon-size-s-height: 16px;
$sds-icon-size-s-width: 16px;
$sds-icon-size-l-height: 24px;
$sds-icon-size-l-width: 24px;
$sds-icon-size-xl-height: 32px;
$sds-icon-size-xl-width: 32px;
$sds-space-default: 12px;
$sds-space-xxxs: 2px;
$sds-space-xxs: 4px;
$sds-space-xs: 6px;
$sds-space-s: 8px;
$sds-space-m: 12px;
$sds-space-l: 16px;
$sds-space-xl: 24px;
$sds-space-xxl: 40px;
