$sds-border-accent-default: 1px solid #1a6cef;
$sds-border-accent-default-dark: 1px solid #a2c9ff;
$sds-border-accent-focused: 1px solid #1a6cef;
$sds-border-accent-focused-dark: 1px solid #a2c9ff;
$sds-border-accent-open: 1px solid #1a6cef;
$sds-border-accent-open-dark: 1px solid #a2c9ff;
$sds-border-accent-selected: 1px solid #1a6cef;
$sds-border-accent-selected-dark: 1px solid #a2c9ff;
$sds-border-accent-hover: 1px solid #0041b9;
$sds-border-accent-hover-dark: 1px solid #cde3ff;
$sds-border-accent-pressed: 1px solid #002d90;
$sds-border-accent-pressed-dark: 1px solid #e2eeff;
$sds-border-base-default: 1px solid #969696;
$sds-border-base-default-dark: 1px solid #aaaaaa;
$sds-border-base-disabled: 1px solid #c3c3c3;
$sds-border-base-disabled-dark: 1px solid #696969;
$sds-border-base-divider: 1px solid #dfdfdf;
$sds-border-base-divider-dark: 1px solid #494949;
$sds-border-base-hover: 1px dashed #000000;
$sds-border-base-hover-dark: 1px dashed #ffffff;
$sds-border-base-pressed: 1px dashed #000000;
$sds-border-base-pressed-dark: 1px dashed #ffffff;
$sds-border-base-table: 1px solid #c3c3c3;
$sds-border-base-table-dark: 1px solid #696969;
$sds-border-beta-default: 1px solid #6526b5;
$sds-border-beta-default-dark: 1px solid #e4dcfc;
$sds-border-beta-extra-thick: 4px solid #6526b5;
$sds-border-beta-extra-thick-dark: 4px solid #e4dcfc;
$sds-border-beta-thick: 2px solid #6526b5;
$sds-border-beta-thick-dark: 2px solid #e4dcfc;
$sds-border-info-default: 1px solid #0041b9;
$sds-border-info-default-dark: 1px solid #cde3ff;
$sds-border-info-extra-thick: 4px solid #0041b9;
$sds-border-info-extra-thick-dark: 4px solid #cde3ff;
$sds-border-info-thick: 2px solid #0041b9;
$sds-border-info-thick-dark: 2px solid #cde3ff;
$sds-border-link-dashed: 1px dashed;
$sds-border-link-dashed-dark: 1px dashed;
$sds-border-link-solid: 1px solid;
$sds-border-link-solid-dark: 1px solid;
$sds-border-negative-default: 1px solid #980013;
$sds-border-negative-default-dark: 1px solid #FFBDB3;
$sds-border-negative-extra-thick: 4px solid #980013;
$sds-border-negative-extra-thick-dark: 4px solid #FFBDB3;
$sds-border-negative-thick: 2px solid #980013;
$sds-border-negative-thick-dark: 2px solid #FFBDB3;
$sds-border-neutral-default: 1px solid #969696;
$sds-border-neutral-default-dark: 1px solid #aaaaaa;
$sds-border-neutral-extra-thick: 4px solid #969696;
$sds-border-neutral-extra-thick-dark: 4px solid #aaaaaa;
$sds-border-neutral-thick: 2px solid #969696;
$sds-border-neutral-thick-dark: 2px solid #aaaaaa;
$sds-border-none: none;
$sds-border-none-dark: none;
$sds-border-notice-default: 1px solid #b77800;
$sds-border-notice-default-dark: 1px solid #efad00;
$sds-border-notice-extra-thick: 4px solid #b77800;
$sds-border-notice-extra-thick-dark: 4px solid #efad00;
$sds-border-notice-thick: 2px solid #b77800;
$sds-border-notice-thick-dark: 2px solid #efad00;
$sds-border-positive-default: 1px solid #105b2b;
$sds-border-positive-default-dark: 1px solid #bcecc5;
$sds-border-positive-extra-thick: 4px solid #105b2b;
$sds-border-positive-extra-thick-dark: 4px solid #bcecc5;
$sds-border-positive-thick: 2px solid #105b2b;
$sds-border-positive-thick-dark: 2px solid #bcecc5;
$sds-color-primitive-blue-100: #e2eeff;
$sds-color-primitive-blue-100-dark: #002573;
$sds-color-primitive-blue-200: #cce1ff;
$sds-color-primitive-blue-200-dark: #0048c5;
$sds-color-primitive-blue-300: #9dc6ff;
$sds-color-primitive-blue-300-dark: #2573f4;
$sds-color-primitive-blue-400: #6ca6ff;
$sds-color-primitive-blue-400-dark: #5b9aff;
$sds-color-primitive-blue-500: #1a6cef;
$sds-color-primitive-blue-500-dark: #a2c9ff;
$sds-color-primitive-blue-600: #0041b9;
$sds-color-primitive-blue-600-dark: #cde3ff;
$sds-color-primitive-blue-700: #002d90;
$sds-color-primitive-blue-700-dark: #e2eeff;
$sds-color-primitive-blue-800: #00114a;
$sds-color-primitive-blue-800-dark: #f7faff;
$sds-color-primitive-gray-50: #ffffff;
$sds-color-primitive-gray-50-dark: #000000;
$sds-color-primitive-gray-75: #fafafa;
$sds-color-primitive-gray-75-dark: #101010;
$sds-color-primitive-gray-100: #f3f3f3;
$sds-color-primitive-gray-100-dark: #333333;
$sds-color-primitive-gray-200: #dfdfdf;
$sds-color-primitive-gray-200-dark: #494949;
$sds-color-primitive-gray-300: #c3c3c3;
$sds-color-primitive-gray-300-dark: #696969;
$sds-color-primitive-gray-400: #a5a5a5;
$sds-color-primitive-gray-400-dark: #9b9b9b;
$sds-color-primitive-gray-500: #969696;
$sds-color-primitive-gray-500-dark: #aaaaaa;
$sds-color-primitive-gray-600: #6c6c6c;
$sds-color-primitive-gray-600-dark: #cdcdcd;
$sds-color-primitive-gray-700: #3b3b3b;
$sds-color-primitive-gray-700-dark: #ededed;
$sds-color-primitive-gray-800: #1b1b1b;
$sds-color-primitive-gray-800-dark: #fafafa;
$sds-color-primitive-gray-900: #000000;
$sds-color-primitive-gray-900-dark: #ffffff;
$sds-color-primitive-green-100: #daf4de;
$sds-color-primitive-green-100-dark: #053918;
$sds-color-primitive-green-200: #b9ecc3;
$sds-color-primitive-green-200-dark: #12612e;
$sds-color-primitive-green-300: #7fd693;
$sds-color-primitive-green-300-dark: #288b49;
$sds-color-primitive-green-400: #50b96d;
$sds-color-primitive-green-400-dark: #43ae63;
$sds-color-primitive-green-500: #238444;
$sds-color-primitive-green-500-dark: #85d898;
$sds-color-primitive-green-600: #105b2b;
$sds-color-primitive-green-600-dark: #bcecc5;
$sds-color-primitive-green-700: #07431d;
$sds-color-primitive-green-700-dark: #daf4de;
$sds-color-primitive-green-800: #001f00;
$sds-color-primitive-green-800-dark: #f7fbf6;
$sds-color-primitive-purple-100: #efeafe;
$sds-color-primitive-purple-100-dark: #4b0190;
$sds-color-primitive-purple-200: #e4dbfc;
$sds-color-primitive-purple-200-dark: #6b2ebc;
$sds-color-primitive-purple-300: #cbbaf8;
$sds-color-primitive-purple-300-dark: #905de6;
$sds-color-primitive-purple-400: #b296f2;
$sds-color-primitive-purple-400-dark: #aa89ef;
$sds-color-primitive-purple-500: #8b54e2;
$sds-color-primitive-purple-500-dark: #cebef8;
$sds-color-primitive-purple-600: #6526b5;
$sds-color-primitive-purple-600-dark: #e4dcfc;
$sds-color-primitive-purple-700: #490092;
$sds-color-primitive-purple-700-dark: #f0ebfe;
$sds-color-primitive-purple-800: #1a004c;
$sds-color-primitive-purple-800-dark: #fbf9ff;
$sds-color-primitive-red-100: #ffe8e6;
$sds-color-primitive-red-100-dark: #630008;
$sds-color-primitive-red-200: #ffd6d2;
$sds-color-primitive-red-200-dark: #A30000;
$sds-color-primitive-red-300: #ffafa8;
$sds-color-primitive-red-300-dark: #E52722;
$sds-color-primitive-red-400: #ff7e78;
$sds-color-primitive-red-400-dark: #FF695B;
$sds-color-primitive-red-500: #db2131;
$sds-color-primitive-red-500-dark: #FF9385;
$sds-color-primitive-red-600: #980013;
$sds-color-primitive-red-600-dark: #FFBDB3;
$sds-color-primitive-red-700: #6f0008;
$sds-color-primitive-red-700-dark: #FFD8D1;
$sds-color-primitive-red-800: #340000;
$sds-color-primitive-red-800-dark: #FFF1EE;
$sds-color-primitive-yellow-100: #ffefcf;
$sds-color-primitive-yellow-100-dark: #552300;
$sds-color-primitive-yellow-200: #ffdb97;
$sds-color-primitive-yellow-200-dark: #834500;
$sds-color-primitive-yellow-300: #ffca5c;
$sds-color-primitive-yellow-300-dark: #985a00;
$sds-color-primitive-yellow-400: #fab700;
$sds-color-primitive-yellow-400-dark: #ac6c00;
$sds-color-primitive-yellow-500: #da9900;
$sds-color-primitive-yellow-500-dark: #cf8e00;
$sds-color-primitive-yellow-600: #b77800;
$sds-color-primitive-yellow-600-dark: #efad00;
$sds-color-primitive-yellow-700: #7c3e00;
$sds-color-primitive-yellow-700-dark: #ffdc9a;
$sds-color-primitive-yellow-800: #541700;
$sds-color-primitive-yellow-800-dark: #fcf2e3;
$sds-color-primitive-overlay-100: rgba(0, 0, 0, 0.08);
$sds-color-primitive-overlay-100-dark: rgba(0, 0, 0, 0.08);
$sds-color-primitive-overlay-200: rgba(0, 0, 0, 0.03);
$sds-color-primitive-overlay-200-dark: rgba(0, 0, 0, 0.03);
$sds-color-semantic-base-border: #969696;
$sds-color-semantic-base-border-dark: #aaaaaa;
$sds-color-semantic-base-border-disabled: #c3c3c3;
$sds-color-semantic-base-border-disabled-dark: #696969;
$sds-color-semantic-base-border-hover: #000000;
$sds-color-semantic-base-border-hover-dark: #ffffff;
$sds-color-semantic-base-border-pressed: #000000;
$sds-color-semantic-base-border-pressed-dark: #ffffff;
$sds-color-semantic-base-border-table: #c3c3c3;
$sds-color-semantic-base-border-table-dark: #696969;
$sds-color-semantic-base-divider: #dfdfdf;
$sds-color-semantic-base-divider-dark: #494949;
$sds-color-semantic-base-fill-disabled: #dfdfdf;
$sds-color-semantic-base-fill-disabled-dark: #494949;
$sds-color-semantic-base-fill-hover: #c3c3c347;
$sds-color-semantic-base-fill-hover-dark: #69696947;
$sds-color-semantic-base-fill-open: #c3c3c347;
$sds-color-semantic-base-fill-open-dark: #69696947;
$sds-color-semantic-base-fill-pressed: #c3c3c347;
$sds-color-semantic-base-fill-pressed-dark: #69696947;
$sds-color-semantic-base-fill-primary: #ffffff;
$sds-color-semantic-base-fill-primary-dark: #000000;
$sds-color-semantic-base-fill-selected: #000000;
$sds-color-semantic-base-fill-selected-dark: #ffffff;
$sds-color-semantic-base-icon-disabled: #c3c3c3;
$sds-color-semantic-base-icon-disabled-dark: #696969;
$sds-color-semantic-base-icon-primary: #969696;
$sds-color-semantic-base-icon-primary-dark: #aaaaaa;
$sds-color-semantic-base-icon-primary-hover: #000000;
$sds-color-semantic-base-icon-primary-hover-dark: #ffffff;
$sds-color-semantic-base-icon-primary-inverse: #ffffff;
$sds-color-semantic-base-icon-primary-inverse-dark: #000000;
$sds-color-semantic-base-icon-primary-inverse-hover: #a5a5a5;
$sds-color-semantic-base-icon-primary-inverse-hover-dark: #9b9b9b;
$sds-color-semantic-base-icon-primary-inverse-pressed: #a5a5a5;
$sds-color-semantic-base-icon-primary-inverse-pressed-dark: #9b9b9b;
$sds-color-semantic-base-icon-primary-pressed: #000000;
$sds-color-semantic-base-icon-primary-pressed-dark: #ffffff;
$sds-color-semantic-base-icon-secondary: #000000;
$sds-color-semantic-base-icon-secondary-dark: #ffffff;
$sds-color-semantic-base-surface-background: #ffffff;
$sds-color-semantic-base-surface-background-dark: #000000;
$sds-color-semantic-base-surface-primary: #ffffff;
$sds-color-semantic-base-surface-primary-dark: #000000;
$sds-color-semantic-base-surface-primary-inverse: #000000;
$sds-color-semantic-base-surface-primary-inverse-dark: #ffffff;
$sds-color-semantic-base-surface-secondary: #f3f3f3;
$sds-color-semantic-base-surface-secondary-dark: #333333;
$sds-color-semantic-base-surface-tertiary: #dfdfdf;
$sds-color-semantic-base-surface-tertiary-dark: #494949;
$sds-color-semantic-base-text-disabled: #c3c3c3;
$sds-color-semantic-base-text-disabled-dark: #696969;
$sds-color-semantic-base-text-primary: #000000;
$sds-color-semantic-base-text-primary-dark: #ffffff;
$sds-color-semantic-base-text-primary-inverse: #ffffff;
$sds-color-semantic-base-text-primary-inverse-dark: #000000;
$sds-color-semantic-base-text-secondary: #6c6c6c;
$sds-color-semantic-base-text-secondary-dark: #cdcdcd;
$sds-color-semantic-base-text-secondary-inverse: #c3c3c3;
$sds-color-semantic-base-text-secondary-inverse-dark: #696969;
$sds-color-semantic-accent-border: #1a6cef;
$sds-color-semantic-accent-border-dark: #a2c9ff;
$sds-color-semantic-accent-border-focus: #1a6cef;
$sds-color-semantic-accent-border-focus-dark: #a2c9ff;
$sds-color-semantic-accent-border-hover: #0041b9;
$sds-color-semantic-accent-border-hover-dark: #cde3ff;
$sds-color-semantic-accent-border-open: #1a6cef;
$sds-color-semantic-accent-border-open-dark: #a2c9ff;
$sds-color-semantic-accent-border-pressed: #002d90;
$sds-color-semantic-accent-border-pressed-dark: #e2eeff;
$sds-color-semantic-accent-border-selected: #1a6cef;
$sds-color-semantic-accent-border-selected-dark: #a2c9ff;
$sds-color-semantic-accent-fill-hover: #0041b9;
$sds-color-semantic-accent-fill-hover-dark: #cde3ff;
$sds-color-semantic-accent-fill-pressed: #002d90;
$sds-color-semantic-accent-fill-pressed-dark: #e2eeff;
$sds-color-semantic-accent-fill-primary: #1a6cef;
$sds-color-semantic-accent-fill-primary-dark: #a2c9ff;
$sds-color-semantic-accent-icon: #1a6cef;
$sds-color-semantic-accent-icon-dark: #a2c9ff;
$sds-color-semantic-accent-icon-focus: #1a6cef;
$sds-color-semantic-accent-icon-focus-dark: #a2c9ff;
$sds-color-semantic-accent-icon-hover: #0041b9;
$sds-color-semantic-accent-icon-hover-dark: #cde3ff;
$sds-color-semantic-accent-icon-open: #1a6cef;
$sds-color-semantic-accent-icon-open-dark: #a2c9ff;
$sds-color-semantic-accent-icon-pressed: #002d90;
$sds-color-semantic-accent-icon-pressed-dark: #e2eeff;
$sds-color-semantic-accent-icon-selected: #1a6cef;
$sds-color-semantic-accent-icon-selected-dark: #a2c9ff;
$sds-color-semantic-accent-surface-primary: #e2eeff;
$sds-color-semantic-accent-surface-primary-dark: #002573;
$sds-color-semantic-accent-surface-secondary: #1a6cef;
$sds-color-semantic-accent-surface-secondary-dark: #a2c9ff;
$sds-color-semantic-accent-text-action: #1a6cef;
$sds-color-semantic-accent-text-action-dark: #a2c9ff;
$sds-color-semantic-accent-text-action-hover: #0041b9;
$sds-color-semantic-accent-text-action-hover-dark: #cde3ff;
$sds-color-semantic-accent-text-action-pressed: #002d90;
$sds-color-semantic-accent-text-action-pressed-dark: #e2eeff;
$sds-color-semantic-beta-border: #8b54e2;
$sds-color-semantic-beta-border-dark: #cebef8;
$sds-color-semantic-beta-fill-hover: #6526b5;
$sds-color-semantic-beta-fill-hover-dark: #e4dcfc;
$sds-color-semantic-beta-fill-pressed: #490092;
$sds-color-semantic-beta-fill-pressed-dark: #f0ebfe;
$sds-color-semantic-beta-fill-primary: #8b54e2;
$sds-color-semantic-beta-fill-primary-dark: #cebef8;
$sds-color-semantic-beta-fill-secondary: #efeafe;
$sds-color-semantic-beta-fill-secondary-dark: #4b0190;
$sds-color-semantic-beta-ornament: #6526b5;
$sds-color-semantic-beta-ornament-dark: #e4dcfc;
$sds-color-semantic-beta-surface-primary: #efeafe;
$sds-color-semantic-beta-surface-primary-dark: #4b0190;
$sds-color-semantic-beta-surface-secondary: #8b54e2;
$sds-color-semantic-beta-surface-secondary-dark: #cebef8;
$sds-color-semantic-beta-text: #6526b5;
$sds-color-semantic-beta-text-dark: #e4dcfc;
$sds-color-semantic-info-border: #1a6cef;
$sds-color-semantic-info-border-dark: #a2c9ff;
$sds-color-semantic-info-fill-hover: #0041b9;
$sds-color-semantic-info-fill-hover-dark: #cde3ff;
$sds-color-semantic-info-fill-pressed: #002d90;
$sds-color-semantic-info-fill-pressed-dark: #e2eeff;
$sds-color-semantic-info-fill-primary: #1a6cef;
$sds-color-semantic-info-fill-primary-dark: #a2c9ff;
$sds-color-semantic-info-fill-secondary: #e2eeff;
$sds-color-semantic-info-fill-secondary-dark: #002573;
$sds-color-semantic-info-ornament: #0041b9;
$sds-color-semantic-info-ornament-dark: #cde3ff;
$sds-color-semantic-info-surface-primary: #e2eeff;
$sds-color-semantic-info-surface-primary-dark: #002573;
$sds-color-semantic-info-surface-secondary: #1a6cef;
$sds-color-semantic-info-surface-secondary-dark: #a2c9ff;
$sds-color-semantic-info-text: #0041b9;
$sds-color-semantic-info-text-dark: #cde3ff;
$sds-color-semantic-negative-border: #db2131;
$sds-color-semantic-negative-border-dark: #FF9385;
$sds-color-semantic-negative-fill-hover: #980013;
$sds-color-semantic-negative-fill-hover-dark: #FFBDB3;
$sds-color-semantic-negative-fill-pressed: #6f0008;
$sds-color-semantic-negative-fill-pressed-dark: #FFD8D1;
$sds-color-semantic-negative-fill-primary: #db2131;
$sds-color-semantic-negative-fill-primary-dark: #FF9385;
$sds-color-semantic-negative-fill-secondary: #ffe8e6;
$sds-color-semantic-negative-fill-secondary-dark: #630008;
$sds-color-semantic-negative-ornament: #980013;
$sds-color-semantic-negative-ornament-dark: #FFBDB3;
$sds-color-semantic-negative-surface-primary: #ffe8e6;
$sds-color-semantic-negative-surface-primary-dark: #630008;
$sds-color-semantic-negative-surface-secondary: #db2131;
$sds-color-semantic-negative-surface-secondary-dark: #FF9385;
$sds-color-semantic-negative-text: #980013;
$sds-color-semantic-negative-text-dark: #FFBDB3;
$sds-color-semantic-neutral-border: #969696;
$sds-color-semantic-neutral-border-dark: #aaaaaa;
$sds-color-semantic-neutral-fill-hover: #6c6c6c;
$sds-color-semantic-neutral-fill-hover-dark: #cdcdcd;
$sds-color-semantic-neutral-fill-pressed: #3b3b3b;
$sds-color-semantic-neutral-fill-pressed-dark: #ededed;
$sds-color-semantic-neutral-fill-primary: #969696;
$sds-color-semantic-neutral-fill-primary-dark: #aaaaaa;
$sds-color-semantic-neutral-fill-secondary: #f3f3f3;
$sds-color-semantic-neutral-fill-secondary-dark: #333333;
$sds-color-semantic-neutral-ornament: #3b3b3b;
$sds-color-semantic-neutral-ornament-dark: #ededed;
$sds-color-semantic-neutral-surface-primary: #dfdfdf;
$sds-color-semantic-neutral-surface-primary-dark: #494949;
$sds-color-semantic-neutral-surface-secondary: #969696;
$sds-color-semantic-neutral-surface-secondary-dark: #aaaaaa;
$sds-color-semantic-neutral-text: #3b3b3b;
$sds-color-semantic-neutral-text-dark: #ededed;
$sds-color-semantic-notice-border: #da9900;
$sds-color-semantic-notice-border-dark: #cf8e00;
$sds-color-semantic-notice-fill-hover: #b77800;
$sds-color-semantic-notice-fill-hover-dark: #efad00;
$sds-color-semantic-notice-fill-pressed: #7c3e00;
$sds-color-semantic-notice-fill-pressed-dark: #ffdc9a;
$sds-color-semantic-notice-fill-primary: #da9900;
$sds-color-semantic-notice-fill-primary-dark: #cf8e00;
$sds-color-semantic-notice-fill-secondary: #ffefcf;
$sds-color-semantic-notice-fill-secondary-dark: #552300;
$sds-color-semantic-notice-ornament: #b77800;
$sds-color-semantic-notice-ornament-dark: #efad00;
$sds-color-semantic-notice-surface-primary: #ffefcf;
$sds-color-semantic-notice-surface-primary-dark: #552300;
$sds-color-semantic-notice-surface-secondary: #da9900;
$sds-color-semantic-notice-surface-secondary-dark: #cf8e00;
$sds-color-semantic-notice-text: #b77800;
$sds-color-semantic-notice-text-dark: #efad00;
$sds-color-semantic-positive-border: #238444;
$sds-color-semantic-positive-border-dark: #85d898;
$sds-color-semantic-positive-fill-hover: #105b2b;
$sds-color-semantic-positive-fill-hover-dark: #bcecc5;
$sds-color-semantic-positive-fill-pressed: #07431d;
$sds-color-semantic-positive-fill-pressed-dark: #daf4de;
$sds-color-semantic-positive-fill-primary: #238444;
$sds-color-semantic-positive-fill-primary-dark: #85d898;
$sds-color-semantic-positive-fill-secondary: #daf4de;
$sds-color-semantic-positive-fill-secondary-dark: #053918;
$sds-color-semantic-positive-ornament: #105b2b;
$sds-color-semantic-positive-ornament-dark: #bcecc5;
$sds-color-semantic-positive-surface-primary: #daf4de;
$sds-color-semantic-positive-surface-primary-dark: #053918;
$sds-color-semantic-positive-surface-secondary: #238444;
$sds-color-semantic-positive-surface-secondary-dark: #85d898;
$sds-color-semantic-positive-text: #105b2b;
$sds-color-semantic-positive-text-dark: #bcecc5;
$sds-corner-l: 20px;
$sds-corner-m: 4px;
$sds-corner-s: 2px;
$sds-corner-none: 0px;
$sds-drop-shadow-l: 0.0px 2.0px 12.0px 0px rgba(0, 0, 0, 0.3);
$sds-drop-shadow-m: 0.0px 2.0px 10.0px 0px rgba(0, 0, 0, 0.15), 0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.15);
$sds-drop-shadow-s: 0.0px 2.0px 4.0px 0px rgba(0, 0, 0, 0.25);
$sds-drop-shadow-none: none;
$sds-font-color: black;
$sds-font-color-narrow: black;
$sds-font-font-family-body: "Inter", sans-serif;
$sds-font-font-family-body-narrow: "Inter", sans-serif;
$sds-font-font-family-caps: "Inter", sans-serif;
$sds-font-font-family-caps-narrow: "Inter", sans-serif;
$sds-font-font-family-code: "IBM Plex Mono", monospace;
$sds-font-font-family-code-narrow: "IBM Plex Mono", monospace;
$sds-font-font-family-header: "Inter", sans-serif;
$sds-font-font-family-header-narrow: "Inter", sans-serif;
$sds-font-font-family-tabular: "Inter", sans-serif;
$sds-font-font-family-tabular-narrow: "Inter", sans-serif;
$sds-font-body-xxxs-400-font: 400 11px/16px "Inter", sans-serif;
$sds-font-body-xxxs-400-font-narrow: 400 12px/18px "Inter", sans-serif;
$sds-font-body-xxxs-400-letter-spacing: 0.1px;
$sds-font-body-xxxs-400-letter-spacing-narrow: 0.1px;
$sds-font-body-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-body-xxxs-600-font-narrow: 600 12px/18px "Inter", sans-serif;
$sds-font-body-xxxs-600-letter-spacing: 0.1px;
$sds-font-body-xxxs-600-letter-spacing-narrow: 0.1px;
$sds-font-body-xxs-400-font: 400 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-400-font-narrow: 400 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-400-letter-spacing: 0.1px;
$sds-font-body-xxs-400-letter-spacing-narrow: 0.1px;
$sds-font-body-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-600-font-narrow: 600 12px/18px "Inter", sans-serif;
$sds-font-body-xxs-600-letter-spacing: 0.1px;
$sds-font-body-xxs-600-letter-spacing-narrow: 0.1px;
$sds-font-body-xs-400-font: 400 13px/20px "Inter", sans-serif;
$sds-font-body-xs-400-font-narrow: 400 13px/20px "Inter", sans-serif;
$sds-font-body-xs-400-letter-spacing: 0.08px;
$sds-font-body-xs-400-letter-spacing-narrow: 0.08px;
$sds-font-body-xs-600-font: 600 13px/20px "Inter", sans-serif;
$sds-font-body-xs-600-font-narrow: 600 13px/20px "Inter", sans-serif;
$sds-font-body-xs-600-letter-spacing: 0.08px;
$sds-font-body-xs-600-letter-spacing-narrow: 0.08px;
$sds-font-body-s-400-font: 400 14px/24px "Inter", sans-serif;
$sds-font-body-s-400-font-narrow: 400 14px/24px "Inter", sans-serif;
$sds-font-body-s-400-letter-spacing: 0.08px;
$sds-font-body-s-400-letter-spacing-narrow: 0.08px;
$sds-font-body-s-600-font: 600 14px/24px "Inter", sans-serif;
$sds-font-body-s-600-font-narrow: 600 14px/24px "Inter", sans-serif;
$sds-font-body-s-600-letter-spacing: 0.08px;
$sds-font-body-s-600-letter-spacing-narrow: 0.08px;
$sds-font-body-m-400-font: 400 16px/26px "Inter", sans-serif;
$sds-font-body-m-400-font-narrow: 400 14px/24px "Inter", sans-serif;
$sds-font-body-m-400-letter-spacing: 0px;
$sds-font-body-m-400-letter-spacing-narrow: 0px;
$sds-font-body-m-600-font: 600 16px/26px "Inter", sans-serif;
$sds-font-body-m-600-font-narrow: 600 14px/24px "Inter", sans-serif;
$sds-font-body-m-600-letter-spacing: 0px;
$sds-font-body-m-600-letter-spacing-narrow: 0px;
$sds-font-body-l-400-font: 400 18px/28px "Inter", sans-serif;
$sds-font-body-l-400-font-narrow: 400 16px/26px "Inter", sans-serif;
$sds-font-body-l-400-letter-spacing: 0px;
$sds-font-body-l-400-letter-spacing-narrow: 0px;
$sds-font-body-l-600-font: 600 18px/28px "Inter", sans-serif;
$sds-font-body-l-600-font-narrow: 600 16px/26px "Inter", sans-serif;
$sds-font-body-l-600-letter-spacing: 0px;
$sds-font-body-l-600-letter-spacing-narrow: 0px;
$sds-font-caps-xxxxs-600-font: 600 10px/14px "Inter", sans-serif;
$sds-font-caps-xxxxs-600-font-narrow: 600 11px/16px "Inter", sans-serif;
$sds-font-caps-xxxxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxxxs-600-letter-spacing-narrow: 0.5px;
$sds-font-caps-xxxxs-600-text-transform:  uppercase;
$sds-font-caps-xxxxs-600-text-transform-narrow:  uppercase;
$sds-font-caps-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-caps-xxxs-600-font-narrow: 600 11px/16px "Inter", sans-serif;
$sds-font-caps-xxxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxxs-600-letter-spacing-narrow: 0.5px;
$sds-font-caps-xxxs-600-text-transform:  uppercase;
$sds-font-caps-xxxs-600-text-transform-narrow:  uppercase;
$sds-font-caps-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-caps-xxs-600-font-narrow: 600 12px/18px "Inter", sans-serif;
$sds-font-caps-xxs-600-letter-spacing: 0.5px;
$sds-font-caps-xxs-600-letter-spacing-narrow: 0.5px;
$sds-font-caps-xxs-600-text-transform:  uppercase;
$sds-font-caps-xxs-600-text-transform-narrow:  uppercase;
$sds-font-header-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
$sds-font-header-xxxs-600-font-narrow: 600 12px/18px "Inter", sans-serif;
$sds-font-header-xxxs-600-letter-spacing: 0.1px;
$sds-font-header-xxxs-600-letter-spacing-narrow: 0.1px;
$sds-font-header-xxs-600-font: 600 12px/18px "Inter", sans-serif;
$sds-font-header-xxs-600-font-narrow: 600 12px/18px "Inter", sans-serif;
$sds-font-header-xxs-600-letter-spacing: 0.1px;
$sds-font-header-xxs-600-letter-spacing-narrow: 0.1px;
$sds-font-header-xs-600-font: 600 13px/18px "Inter", sans-serif;
$sds-font-header-xs-600-font-narrow: 600 13px/18px "Inter", sans-serif;
$sds-font-header-xs-600-letter-spacing: 0.08px;
$sds-font-header-xs-600-letter-spacing-narrow: 0.08px;
$sds-font-header-s-600-font: 600 14px/20px "Inter", sans-serif;
$sds-font-header-s-600-font-narrow: 600 14px/20px "Inter", sans-serif;
$sds-font-header-s-600-letter-spacing: 0.08px;
$sds-font-header-s-600-letter-spacing-narrow: 0.08px;
$sds-font-header-m-600-font: 600 16px/22px "Inter", sans-serif;
$sds-font-header-m-600-font-narrow: 600 14px/20px "Inter", sans-serif;
$sds-font-header-m-600-letter-spacing: 0px;
$sds-font-header-m-600-letter-spacing-narrow: 0.08px;
$sds-font-header-l-600-font: 600 18px/24px "Inter", sans-serif;
$sds-font-header-l-600-font-narrow: 600 16px/22px "Inter", sans-serif;
$sds-font-header-l-600-letter-spacing: 0px;
$sds-font-header-l-600-letter-spacing-narrow: 0px;
$sds-font-header-xl-600-font: 600 22px/30px "Inter", sans-serif;
$sds-font-header-xl-600-font-narrow: 600 18px/24px "Inter", sans-serif;
$sds-font-header-xl-600-letter-spacing: 0px;
$sds-font-header-xl-600-letter-spacing-narrow: 0px;
$sds-font-header-xxl-600-font: 600 26px/34px "Inter", sans-serif;
$sds-font-header-xxl-600-font-narrow: 600 22px/30px "Inter", sans-serif;
$sds-font-header-xxl-600-letter-spacing: 0px;
$sds-font-header-xxl-600-letter-spacing-narrow: 0px;
$sds-font-tabular-xs-400-font: 400 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-400-font-narrow: 400 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-400-font-variant-numeric: tabular-nums;
$sds-font-tabular-xs-400-font-variant-numeric-narrow: tabular-nums;
$sds-font-tabular-xs-400-letter-spacing: 0px;
$sds-font-tabular-xs-400-letter-spacing-narrow: 0px;
$sds-font-tabular-xs-600-font: 600 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-600-font-narrow: 600 13px/20px "Inter", sans-serif;
$sds-font-tabular-xs-600-font-variant-numeric: tabular-nums;
$sds-font-tabular-xs-600-font-variant-numeric-narrow: tabular-nums;
$sds-font-tabular-xs-600-letter-spacing: 0px;
$sds-font-tabular-xs-600-letter-spacing-narrow: 0px;
$sds-font-tabular-s-400-font: 400 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-400-font-narrow: 400 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-400-font-variant-numeric: tabular-nums;
$sds-font-tabular-s-400-font-variant-numeric-narrow: tabular-nums;
$sds-font-tabular-s-400-letter-spacing: 0px;
$sds-font-tabular-s-400-letter-spacing-narrow: 0px;
$sds-font-tabular-s-600-font: 600 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-600-font-narrow: 600 14px/24px "Inter", sans-serif;
$sds-font-tabular-s-600-font-variant-numeric: tabular-nums;
$sds-font-tabular-s-600-font-variant-numeric-narrow: tabular-nums;
$sds-font-tabular-s-600-letter-spacing: 0px;
$sds-font-tabular-s-600-letter-spacing-narrow: 0px;
$sds-font-code-xs-400-font: 400 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-400-font-narrow: 400 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-400-letter-spacing: 0px;
$sds-font-code-xs-400-letter-spacing-narrow: 0px;
$sds-font-code-xs-600-font: 600 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-600-font-narrow: 600 13px/20px "IBM Plex Mono", monospace;
$sds-font-code-xs-600-letter-spacing: 0px;
$sds-font-code-xs-600-letter-spacing-narrow: 0px;
$sds-font-code-s-400-font: 400 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-400-font-narrow: 400 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-400-letter-spacing: 0px;
$sds-font-code-s-400-letter-spacing-narrow: 0px;
$sds-font-code-s-600-font: 600 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-600-font-narrow: 600 14px/24px "IBM Plex Mono", monospace;
$sds-font-code-s-600-letter-spacing: 0px;
$sds-font-code-s-600-letter-spacing-narrow: 0px;
$sds-icon-size-input-height: 16px;
$sds-icon-size-input-width: 16px;
$sds-icon-size-xs-height: 12px;
$sds-icon-size-xs-width: 12px;
$sds-icon-size-s-height: 16px;
$sds-icon-size-s-width: 16px;
$sds-icon-size-l-height: 24px;
$sds-icon-size-l-width: 24px;
$sds-icon-size-xl-height: 32px;
$sds-icon-size-xl-width: 32px;
$sds-space-default: 12px;
$sds-space-xxxs: 2px;
$sds-space-xxs: 4px;
$sds-space-xs: 6px;
$sds-space-s: 8px;
$sds-space-m: 12px;
$sds-space-l: 16px;
$sds-space-xl: 24px;
$sds-space-xxl: 40px;