@media (prefers-color-scheme: light) {
  :root {
    --sds-border-accent-default: 1px solid #1a6cef;
    --sds-border-accent-focused: 1px solid #1a6cef;
    --sds-border-accent-open: 1px solid #1a6cef;
    --sds-border-accent-selected: 1px solid #1a6cef;
    --sds-border-accent-hover: 1px solid #0041b9;
    --sds-border-accent-pressed: 1px solid #002d90;
    --sds-border-base-default: 1px solid #969696;
    --sds-border-base-disabled: 1px solid #c3c3c3;
    --sds-border-base-divider: 1px solid #dfdfdf;
    --sds-border-base-hover: 1px dashed #000000;
    --sds-border-base-pressed: 1px dashed #000000;
    --sds-border-base-table: 1px solid #c3c3c3;
    --sds-border-beta-default: 1px solid #6526b5;
    --sds-border-beta-extra-thick: 4px solid #6526b5;
    --sds-border-beta-thick: 2px solid #6526b5;
    --sds-border-info-default: 1px solid #0041b9;
    --sds-border-info-extra-thick: 4px solid #0041b9;
    --sds-border-info-thick: 2px solid #0041b9;
    --sds-border-link-dashed: 1px dashed;
    --sds-border-link-solid: 1px solid;
    --sds-border-negative-default: 1px solid #980013;
    --sds-border-negative-extra-thick: 4px solid #980013;
    --sds-border-negative-thick: 2px solid #980013;
    --sds-border-neutral-default: 1px solid #969696;
    --sds-border-neutral-extra-thick: 4px solid #969696;
    --sds-border-neutral-thick: 2px solid #969696;
    --sds-border-none: none;
    --sds-border-notice-default: 1px solid #b77800;
    --sds-border-notice-extra-thick: 4px solid #b77800;
    --sds-border-notice-thick: 2px solid #b77800;
    --sds-border-positive-default: 1px solid #105b2b;
    --sds-border-positive-extra-thick: 4px solid #105b2b;
    --sds-border-positive-thick: 2px solid #105b2b;
    --sds-breakpoint-sm: 0px;
    --sds-breakpoint-md: 512px;
    --sds-breakpoint-lg: 1024px;
    --sds-color-primitive-blue-100: #e2eeff;
    --sds-color-primitive-blue-200: #cce1ff;
    --sds-color-primitive-blue-300: #9dc6ff;
    --sds-color-primitive-blue-400: #6ca6ff;
    --sds-color-primitive-blue-500: #1a6cef;
    --sds-color-primitive-blue-600: #0041b9;
    --sds-color-primitive-blue-700: #002d90;
    --sds-color-primitive-blue-800: #00114a;
    --sds-color-primitive-gray-50: #ffffff;
    --sds-color-primitive-gray-75: #fafafa;
    --sds-color-primitive-gray-100: #f3f3f3;
    --sds-color-primitive-gray-200: #dfdfdf;
    --sds-color-primitive-gray-300: #c3c3c3;
    --sds-color-primitive-gray-400: #a5a5a5;
    --sds-color-primitive-gray-500: #969696;
    --sds-color-primitive-gray-600: #6c6c6c;
    --sds-color-primitive-gray-700: #3b3b3b;
    --sds-color-primitive-gray-800: #1b1b1b;
    --sds-color-primitive-gray-900: #000000;
    --sds-color-primitive-green-100: #daf4de;
    --sds-color-primitive-green-200: #b9ecc3;
    --sds-color-primitive-green-300: #7fd693;
    --sds-color-primitive-green-400: #50b96d;
    --sds-color-primitive-green-500: #238444;
    --sds-color-primitive-green-600: #105b2b;
    --sds-color-primitive-green-700: #07431d;
    --sds-color-primitive-green-800: #001f00;
    --sds-color-primitive-purple-100: #efeafe;
    --sds-color-primitive-purple-200: #e4dbfc;
    --sds-color-primitive-purple-300: #cbbaf8;
    --sds-color-primitive-purple-400: #b296f2;
    --sds-color-primitive-purple-500: #8b54e2;
    --sds-color-primitive-purple-600: #6526b5;
    --sds-color-primitive-purple-700: #490092;
    --sds-color-primitive-purple-800: #1a004c;
    --sds-color-primitive-red-100: #ffe8e6;
    --sds-color-primitive-red-200: #ffd6d2;
    --sds-color-primitive-red-300: #ffafa8;
    --sds-color-primitive-red-400: #ff7e78;
    --sds-color-primitive-red-500: #db2131;
    --sds-color-primitive-red-600: #980013;
    --sds-color-primitive-red-700: #6f0008;
    --sds-color-primitive-red-800: #340000;
    --sds-color-primitive-yellow-100: #ffefcf;
    --sds-color-primitive-yellow-200: #ffdb97;
    --sds-color-primitive-yellow-300: #ffca5c;
    --sds-color-primitive-yellow-400: #fab700;
    --sds-color-primitive-yellow-500: #da9900;
    --sds-color-primitive-yellow-600: #b77800;
    --sds-color-primitive-yellow-700: #7c3e00;
    --sds-color-primitive-yellow-800: #541700;
    --sds-color-primitive-overlay-100: rgba(0, 0, 0, 0.08);
    --sds-color-primitive-overlay-200: rgba(0, 0, 0, 0.03);
    --sds-color-semantic-base-border: #969696;
    --sds-color-semantic-base-border-disabled: #c3c3c3;
    --sds-color-semantic-base-border-hover: #000000;
    --sds-color-semantic-base-border-pressed: #000000;
    --sds-color-semantic-base-border-table: #c3c3c3;
    --sds-color-semantic-base-divider: #dfdfdf;
    --sds-color-semantic-base-fill-disabled: #dfdfdf;
    --sds-color-semantic-base-fill-hover: #c3c3c347;
    --sds-color-semantic-base-fill-open: #c3c3c347;
    --sds-color-semantic-base-fill-pressed: #c3c3c347;
    --sds-color-semantic-base-fill-primary: #ffffff;
    --sds-color-semantic-base-fill-selected: #000000;
    --sds-color-semantic-base-icon-disabled: #c3c3c3;
    --sds-color-semantic-base-icon-primary: #969696;
    --sds-color-semantic-base-icon-primary-hover: #000000;
    --sds-color-semantic-base-icon-primary-inverse: #ffffff;
    --sds-color-semantic-base-icon-primary-inverse-hover: #a5a5a5;
    --sds-color-semantic-base-icon-primary-inverse-pressed: #a5a5a5;
    --sds-color-semantic-base-icon-primary-pressed: #000000;
    --sds-color-semantic-base-icon-secondary: #000000;
    --sds-color-semantic-base-surface-background: #ffffff;
    --sds-color-semantic-base-surface-primary: #ffffff;
    --sds-color-semantic-base-surface-primary-inverse: #000000;
    --sds-color-semantic-base-surface-secondary: #f3f3f3;
    --sds-color-semantic-base-surface-tertiary: #dfdfdf;
    --sds-color-semantic-base-text-disabled: #c3c3c3;
    --sds-color-semantic-base-text-primary: #000000;
    --sds-color-semantic-base-text-primary-inverse: #ffffff;
    --sds-color-semantic-base-text-secondary: #6c6c6c;
    --sds-color-semantic-base-text-secondary-inverse: #c3c3c3;
    --sds-color-semantic-accent-border: #1a6cef;
    --sds-color-semantic-accent-border-focus: #1a6cef;
    --sds-color-semantic-accent-border-hover: #0041b9;
    --sds-color-semantic-accent-border-open: #1a6cef;
    --sds-color-semantic-accent-border-pressed: #002d90;
    --sds-color-semantic-accent-border-selected: #1a6cef;
    --sds-color-semantic-accent-fill-hover: #0041b9;
    --sds-color-semantic-accent-fill-pressed: #002d90;
    --sds-color-semantic-accent-fill-primary: #1a6cef;
    --sds-color-semantic-accent-icon: #1a6cef;
    --sds-color-semantic-accent-icon-focus: #1a6cef;
    --sds-color-semantic-accent-icon-hover: #0041b9;
    --sds-color-semantic-accent-icon-open: #1a6cef;
    --sds-color-semantic-accent-icon-pressed: #002d90;
    --sds-color-semantic-accent-icon-selected: #1a6cef;
    --sds-color-semantic-accent-surface-primary: #e2eeff;
    --sds-color-semantic-accent-surface-secondary: #1a6cef;
    --sds-color-semantic-accent-text-action: #1a6cef;
    --sds-color-semantic-accent-text-action-hover: #0041b9;
    --sds-color-semantic-accent-text-action-pressed: #002d90;
    --sds-color-semantic-beta-border: #8b54e2;
    --sds-color-semantic-beta-fill-hover: #6526b5;
    --sds-color-semantic-beta-fill-pressed: #490092;
    --sds-color-semantic-beta-fill-primary: #8b54e2;
    --sds-color-semantic-beta-fill-secondary: #efeafe;
    --sds-color-semantic-beta-ornament: #6526b5;
    --sds-color-semantic-beta-surface-primary: #efeafe;
    --sds-color-semantic-beta-surface-secondary: #8b54e2;
    --sds-color-semantic-beta-text: #6526b5;
    --sds-color-semantic-info-border: #1a6cef;
    --sds-color-semantic-info-fill-hover: #0041b9;
    --sds-color-semantic-info-fill-pressed: #002d90;
    --sds-color-semantic-info-fill-primary: #1a6cef;
    --sds-color-semantic-info-fill-secondary: #e2eeff;
    --sds-color-semantic-info-ornament: #0041b9;
    --sds-color-semantic-info-surface-primary: #e2eeff;
    --sds-color-semantic-info-surface-secondary: #1a6cef;
    --sds-color-semantic-info-text: #0041b9;
    --sds-color-semantic-negative-border: #db2131;
    --sds-color-semantic-negative-fill-hover: #980013;
    --sds-color-semantic-negative-fill-pressed: #6f0008;
    --sds-color-semantic-negative-fill-primary: #db2131;
    --sds-color-semantic-negative-fill-secondary: #ffe8e6;
    --sds-color-semantic-negative-ornament: #980013;
    --sds-color-semantic-negative-surface-primary: #ffe8e6;
    --sds-color-semantic-negative-surface-secondary: #db2131;
    --sds-color-semantic-negative-text: #980013;
    --sds-color-semantic-neutral-border: #969696;
    --sds-color-semantic-neutral-fill-hover: #6c6c6c;
    --sds-color-semantic-neutral-fill-pressed: #3b3b3b;
    --sds-color-semantic-neutral-fill-primary: #969696;
    --sds-color-semantic-neutral-fill-secondary: #f3f3f3;
    --sds-color-semantic-neutral-ornament: #3b3b3b;
    --sds-color-semantic-neutral-surface-primary: #dfdfdf;
    --sds-color-semantic-neutral-surface-secondary: #969696;
    --sds-color-semantic-neutral-text: #3b3b3b;
    --sds-color-semantic-notice-border: #da9900;
    --sds-color-semantic-notice-fill-hover: #b77800;
    --sds-color-semantic-notice-fill-pressed: #7c3e00;
    --sds-color-semantic-notice-fill-primary: #da9900;
    --sds-color-semantic-notice-fill-secondary: #ffefcf;
    --sds-color-semantic-notice-ornament: #b77800;
    --sds-color-semantic-notice-surface-primary: #ffefcf;
    --sds-color-semantic-notice-surface-secondary: #da9900;
    --sds-color-semantic-notice-text: #b77800;
    --sds-color-semantic-positive-border: #238444;
    --sds-color-semantic-positive-fill-hover: #105b2b;
    --sds-color-semantic-positive-fill-pressed: #07431d;
    --sds-color-semantic-positive-fill-primary: #238444;
    --sds-color-semantic-positive-fill-secondary: #daf4de;
    --sds-color-semantic-positive-ornament: #105b2b;
    --sds-color-semantic-positive-surface-primary: #daf4de;
    --sds-color-semantic-positive-surface-secondary: #238444;
    --sds-color-semantic-positive-text: #105b2b;
    --sds-corner-l: 20px;
    --sds-corner-m: 4px;
    --sds-corner-s: 2px;
    --sds-corner-none: 0px;
    --sds-drop-shadow-l: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
    --sds-drop-shadow-m: 0px 2px 10px 0px rgba(0, 0, 0, 0.15),
      0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    --sds-drop-shadow-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --sds-drop-shadow-none: none;
    --sds-font-color: black;
    --sds-font-font-family-body: "Inter", sans-serif;
    --sds-font-font-family-caps: "Inter", sans-serif;
    --sds-font-font-family-code: "IBM Plex Mono", monospace;
    --sds-font-font-family-header: "Inter", sans-serif;
    --sds-font-font-family-tabular: "Inter", sans-serif;
    --sds-font-body-xxxs-400-font: 400 11px/16px "Inter", sans-serif;
    --sds-font-body-xxxs-400-letter-spacing: 0.1px;
    --sds-font-body-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-body-xxxs-600-letter-spacing: 0.1px;
    --sds-font-body-xxs-400-font: 400 12px/18px "Inter", sans-serif;
    --sds-font-body-xxs-400-letter-spacing: 0.1px;
    --sds-font-body-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-body-xxs-600-letter-spacing: 0.1px;
    --sds-font-body-xs-400-font: 400 13px/20px "Inter", sans-serif;
    --sds-font-body-xs-400-letter-spacing: 0.08px;
    --sds-font-body-xs-600-font: 600 13px/20px "Inter", sans-serif;
    --sds-font-body-xs-600-letter-spacing: 0.08px;
    --sds-font-body-s-400-font: 400 14px/24px "Inter", sans-serif;
    --sds-font-body-s-400-letter-spacing: 0.08px;
    --sds-font-body-s-600-font: 600 14px/24px "Inter", sans-serif;
    --sds-font-body-s-600-letter-spacing: 0.08px;
    --sds-font-body-m-400-font: 400 16px/26px "Inter", sans-serif;
    --sds-font-body-m-400-letter-spacing: 0px;
    --sds-font-body-m-600-font: 600 16px/26px "Inter", sans-serif;
    --sds-font-body-m-600-letter-spacing: 0px;
    --sds-font-body-l-400-font: 400 18px/28px "Inter", sans-serif;
    --sds-font-body-l-400-letter-spacing: 0px;
    --sds-font-body-l-600-font: 600 18px/28px "Inter", sans-serif;
    --sds-font-body-l-600-letter-spacing: 0px;
    --sds-font-caps-xxxxs-600-font: 600 10px/14px "Inter", sans-serif;
    --sds-font-caps-xxxxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxxxs-600-text-transform: uppercase;
    --sds-font-caps-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-caps-xxxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxxs-600-text-transform: uppercase;
    --sds-font-caps-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-caps-xxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxs-600-text-transform: uppercase;
    --sds-font-header-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-header-xxxs-600-letter-spacing: 0.1px;
    --sds-font-header-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-header-xxs-600-letter-spacing: 0.1px;
    --sds-font-header-xs-600-font: 600 13px/18px "Inter", sans-serif;
    --sds-font-header-xs-600-letter-spacing: 0.08px;
    --sds-font-header-s-600-font: 600 14px/20px "Inter", sans-serif;
    --sds-font-header-s-600-letter-spacing: 0.08px;
    --sds-font-header-m-600-font: 600 16px/22px "Inter", sans-serif;
    --sds-font-header-m-600-letter-spacing: 0px;
    --sds-font-header-l-600-font: 600 18px/24px "Inter", sans-serif;
    --sds-font-header-l-600-letter-spacing: 0px;
    --sds-font-header-xl-600-font: 600 22px/30px "Inter", sans-serif;
    --sds-font-header-xl-600-letter-spacing: 0px;
    --sds-font-header-xxl-600-font: 600 26px/34px "Inter", sans-serif;
    --sds-font-header-xxl-600-letter-spacing: 0px;
    --sds-font-tabular-xs-400-font: 400 13px/20px "Inter", sans-serif;
    --sds-font-tabular-xs-400-font-variant-numeric: tabular-nums;
    --sds-font-tabular-xs-400-letter-spacing: 0px;
    --sds-font-tabular-xs-600-font: 600 13px/20px "Inter", sans-serif;
    --sds-font-tabular-xs-600-font-variant-numeric: tabular-nums;
    --sds-font-tabular-xs-600-letter-spacing: 0px;
    --sds-font-tabular-s-400-font: 400 14px/24px "Inter", sans-serif;
    --sds-font-tabular-s-400-font-variant-numeric: tabular-nums;
    --sds-font-tabular-s-400-letter-spacing: 0px;
    --sds-font-tabular-s-600-font: 600 14px/24px "Inter", sans-serif;
    --sds-font-tabular-s-600-font-variant-numeric: tabular-nums;
    --sds-font-tabular-s-600-letter-spacing: 0px;
    --sds-font-code-xs-400-font: 400 13px/20px "IBM Plex Mono", monospace;
    --sds-font-code-xs-400-letter-spacing: 0px;
    --sds-font-code-xs-600-font: 600 13px/20px "IBM Plex Mono", monospace;
    --sds-font-code-xs-600-letter-spacing: 0px;
    --sds-font-code-s-400-font: 400 14px/24px "IBM Plex Mono", monospace;
    --sds-font-code-s-400-letter-spacing: 0px;
    --sds-font-code-s-600-font: 600 14px/24px "IBM Plex Mono", monospace;
    --sds-font-code-s-600-letter-spacing: 0px;
    --sds-icon-size-input-height: 16px;
    --sds-icon-size-input-width: 16px;
    --sds-icon-size-xs-height: 12px;
    --sds-icon-size-xs-width: 12px;
    --sds-icon-size-s-height: 16px;
    --sds-icon-size-s-width: 16px;
    --sds-icon-size-l-height: 24px;
    --sds-icon-size-l-width: 24px;
    --sds-icon-size-xl-height: 32px;
    --sds-icon-size-xl-width: 32px;
    --sds-space-default: 12px;
    --sds-space-xxxs: 2px;
    --sds-space-xxs: 4px;
    --sds-space-xs: 6px;
    --sds-space-s: 8px;
    --sds-space-m: 12px;
    --sds-space-l: 16px;
    --sds-space-xl: 24px;
    --sds-space-xxl: 40px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --sds-border-accent-default: 1px solid #a2c9ff;
    --sds-border-accent-focused: 1px solid #a2c9ff;
    --sds-border-accent-open: 1px solid #a2c9ff;
    --sds-border-accent-selected: 1px solid #a2c9ff;
    --sds-border-accent-hover: 1px solid #cde3ff;
    --sds-border-accent-pressed: 1px solid #e2eeff;
    --sds-border-base-default: 1px solid #aaaaaa;
    --sds-border-base-disabled: 1px solid #696969;
    --sds-border-base-divider: 1px solid #494949;
    --sds-border-base-hover: 1px dashed #ffffff;
    --sds-border-base-pressed: 1px dashed #ffffff;
    --sds-border-base-table: 1px solid #696969;
    --sds-border-beta-default: 1px solid #e4dcfc;
    --sds-border-beta-extra-thick: 4px solid #e4dcfc;
    --sds-border-beta-thick: 2px solid #e4dcfc;
    --sds-border-info-default: 1px solid #cde3ff;
    --sds-border-info-extra-thick: 4px solid #cde3ff;
    --sds-border-info-thick: 2px solid #cde3ff;
    --sds-border-link-dashed: 1px dashed;
    --sds-border-link-solid: 1px solid;
    --sds-border-negative-default: 1px solid #ffbdb3;
    --sds-border-negative-extra-thick: 4px solid #ffbdb3;
    --sds-border-negative-thick: 2px solid #ffbdb3;
    --sds-border-neutral-default: 1px solid #aaaaaa;
    --sds-border-neutral-extra-thick: 4px solid #aaaaaa;
    --sds-border-neutral-thick: 2px solid #aaaaaa;
    --sds-border-none: none;
    --sds-border-notice-default: 1px solid #efad00;
    --sds-border-notice-extra-thick: 4px solid #efad00;
    --sds-border-notice-thick: 2px solid #efad00;
    --sds-border-positive-default: 1px solid #bcecc5;
    --sds-border-positive-extra-thick: 4px solid #bcecc5;
    --sds-border-positive-thick: 2px solid #bcecc5;
    --sds-breakpoint-sm: 0px;
    --sds-breakpoint-md: 512px;
    --sds-breakpoint-lg: 1024px;
    --sds-color-primitive-blue-100: #002573;
    --sds-color-primitive-blue-200: #0048c5;
    --sds-color-primitive-blue-300: #2573f4;
    --sds-color-primitive-blue-400: #5b9aff;
    --sds-color-primitive-blue-500: #a2c9ff;
    --sds-color-primitive-blue-600: #cde3ff;
    --sds-color-primitive-blue-700: #e2eeff;
    --sds-color-primitive-blue-800: #f7faff;
    --sds-color-primitive-gray-50: #000000;
    --sds-color-primitive-gray-75: #101010;
    --sds-color-primitive-gray-100: #333333;
    --sds-color-primitive-gray-200: #494949;
    --sds-color-primitive-gray-300: #696969;
    --sds-color-primitive-gray-400: #9b9b9b;
    --sds-color-primitive-gray-500: #aaaaaa;
    --sds-color-primitive-gray-600: #cdcdcd;
    --sds-color-primitive-gray-700: #ededed;
    --sds-color-primitive-gray-800: #fafafa;
    --sds-color-primitive-gray-900: #ffffff;
    --sds-color-primitive-green-100: #053918;
    --sds-color-primitive-green-200: #12612e;
    --sds-color-primitive-green-300: #288b49;
    --sds-color-primitive-green-400: #43ae63;
    --sds-color-primitive-green-500: #85d898;
    --sds-color-primitive-green-600: #bcecc5;
    --sds-color-primitive-green-700: #daf4de;
    --sds-color-primitive-green-800: #f7fbf6;
    --sds-color-primitive-purple-100: #4b0190;
    --sds-color-primitive-purple-200: #6b2ebc;
    --sds-color-primitive-purple-300: #905de6;
    --sds-color-primitive-purple-400: #aa89ef;
    --sds-color-primitive-purple-500: #cebef8;
    --sds-color-primitive-purple-600: #e4dcfc;
    --sds-color-primitive-purple-700: #f0ebfe;
    --sds-color-primitive-purple-800: #fbf9ff;
    --sds-color-primitive-red-100: #630008;
    --sds-color-primitive-red-200: #a30000;
    --sds-color-primitive-red-300: #e52722;
    --sds-color-primitive-red-400: #ff695b;
    --sds-color-primitive-red-500: #ff9385;
    --sds-color-primitive-red-600: #ffbdb3;
    --sds-color-primitive-red-700: #ffd8d1;
    --sds-color-primitive-red-800: #fff1ee;
    --sds-color-primitive-yellow-100: #552300;
    --sds-color-primitive-yellow-200: #834500;
    --sds-color-primitive-yellow-300: #985a00;
    --sds-color-primitive-yellow-400: #ac6c00;
    --sds-color-primitive-yellow-500: #cf8e00;
    --sds-color-primitive-yellow-600: #efad00;
    --sds-color-primitive-yellow-700: #ffdc9a;
    --sds-color-primitive-yellow-800: #fcf2e3;
    --sds-color-primitive-overlay-100: rgba(0, 0, 0, 0.08);
    --sds-color-primitive-overlay-200: rgba(0, 0, 0, 0.03);
    --sds-color-semantic-base-border: #aaaaaa;
    --sds-color-semantic-base-border-disabled: #696969;
    --sds-color-semantic-base-border-hover: #ffffff;
    --sds-color-semantic-base-border-pressed: #ffffff;
    --sds-color-semantic-base-border-table: #696969;
    --sds-color-semantic-base-divider: #494949;
    --sds-color-semantic-base-fill-disabled: #494949;
    --sds-color-semantic-base-fill-hover: #69696947;
    --sds-color-semantic-base-fill-open: #69696947;
    --sds-color-semantic-base-fill-pressed: #69696947;
    --sds-color-semantic-base-fill-primary: #000000;
    --sds-color-semantic-base-fill-selected: #ffffff;
    --sds-color-semantic-base-icon-disabled: #696969;
    --sds-color-semantic-base-icon-primary: #aaaaaa;
    --sds-color-semantic-base-icon-primary-hover: #ffffff;
    --sds-color-semantic-base-icon-primary-inverse: #000000;
    --sds-color-semantic-base-icon-primary-inverse-hover: #9b9b9b;
    --sds-color-semantic-base-icon-primary-inverse-pressed: #9b9b9b;
    --sds-color-semantic-base-icon-primary-pressed: #ffffff;
    --sds-color-semantic-base-icon-secondary: #ffffff;
    --sds-color-semantic-base-surface-background: #000000;
    --sds-color-semantic-base-surface-primary: #000000;
    --sds-color-semantic-base-surface-primary-inverse: #ffffff;
    --sds-color-semantic-base-surface-secondary: #333333;
    --sds-color-semantic-base-surface-tertiary: #494949;
    --sds-color-semantic-base-text-disabled: #696969;
    --sds-color-semantic-base-text-primary: #ffffff;
    --sds-color-semantic-base-text-primary-inverse: #000000;
    --sds-color-semantic-base-text-secondary: #cdcdcd;
    --sds-color-semantic-base-text-secondary-inverse: #696969;
    --sds-color-semantic-accent-border: #a2c9ff;
    --sds-color-semantic-accent-border-focus: #a2c9ff;
    --sds-color-semantic-accent-border-hover: #cde3ff;
    --sds-color-semantic-accent-border-open: #a2c9ff;
    --sds-color-semantic-accent-border-pressed: #e2eeff;
    --sds-color-semantic-accent-border-selected: #a2c9ff;
    --sds-color-semantic-accent-fill-hover: #cde3ff;
    --sds-color-semantic-accent-fill-pressed: #e2eeff;
    --sds-color-semantic-accent-fill-primary: #a2c9ff;
    --sds-color-semantic-accent-icon: #a2c9ff;
    --sds-color-semantic-accent-icon-focus: #a2c9ff;
    --sds-color-semantic-accent-icon-hover: #cde3ff;
    --sds-color-semantic-accent-icon-open: #a2c9ff;
    --sds-color-semantic-accent-icon-pressed: #e2eeff;
    --sds-color-semantic-accent-icon-selected: #a2c9ff;
    --sds-color-semantic-accent-surface-primary: #002573;
    --sds-color-semantic-accent-surface-secondary: #a2c9ff;
    --sds-color-semantic-accent-text-action: #a2c9ff;
    --sds-color-semantic-accent-text-action-hover: #cde3ff;
    --sds-color-semantic-accent-text-action-pressed: #e2eeff;
    --sds-color-semantic-beta-border: #cebef8;
    --sds-color-semantic-beta-fill-hover: #e4dcfc;
    --sds-color-semantic-beta-fill-pressed: #f0ebfe;
    --sds-color-semantic-beta-fill-primary: #cebef8;
    --sds-color-semantic-beta-fill-secondary: #4b0190;
    --sds-color-semantic-beta-ornament: #e4dcfc;
    --sds-color-semantic-beta-surface-primary: #4b0190;
    --sds-color-semantic-beta-surface-secondary: #cebef8;
    --sds-color-semantic-beta-text: #e4dcfc;
    --sds-color-semantic-info-border: #a2c9ff;
    --sds-color-semantic-info-fill-hover: #cde3ff;
    --sds-color-semantic-info-fill-pressed: #e2eeff;
    --sds-color-semantic-info-fill-primary: #a2c9ff;
    --sds-color-semantic-info-fill-secondary: #002573;
    --sds-color-semantic-info-ornament: #cde3ff;
    --sds-color-semantic-info-surface-primary: #002573;
    --sds-color-semantic-info-surface-secondary: #a2c9ff;
    --sds-color-semantic-info-text: #cde3ff;
    --sds-color-semantic-negative-border: #ff9385;
    --sds-color-semantic-negative-fill-hover: #ffbdb3;
    --sds-color-semantic-negative-fill-pressed: #ffd8d1;
    --sds-color-semantic-negative-fill-primary: #ff9385;
    --sds-color-semantic-negative-fill-secondary: #630008;
    --sds-color-semantic-negative-ornament: #ffbdb3;
    --sds-color-semantic-negative-surface-primary: #630008;
    --sds-color-semantic-negative-surface-secondary: #ff9385;
    --sds-color-semantic-negative-text: #ffbdb3;
    --sds-color-semantic-neutral-border: #aaaaaa;
    --sds-color-semantic-neutral-fill-hover: #cdcdcd;
    --sds-color-semantic-neutral-fill-pressed: #ededed;
    --sds-color-semantic-neutral-fill-primary: #aaaaaa;
    --sds-color-semantic-neutral-fill-secondary: #333333;
    --sds-color-semantic-neutral-ornament: #ededed;
    --sds-color-semantic-neutral-surface-primary: #494949;
    --sds-color-semantic-neutral-surface-secondary: #aaaaaa;
    --sds-color-semantic-neutral-text: #ededed;
    --sds-color-semantic-notice-border: #cf8e00;
    --sds-color-semantic-notice-fill-hover: #efad00;
    --sds-color-semantic-notice-fill-pressed: #ffdc9a;
    --sds-color-semantic-notice-fill-primary: #cf8e00;
    --sds-color-semantic-notice-fill-secondary: #552300;
    --sds-color-semantic-notice-ornament: #efad00;
    --sds-color-semantic-notice-surface-primary: #552300;
    --sds-color-semantic-notice-surface-secondary: #cf8e00;
    --sds-color-semantic-notice-text: #efad00;
    --sds-color-semantic-positive-border: #85d898;
    --sds-color-semantic-positive-fill-hover: #bcecc5;
    --sds-color-semantic-positive-fill-pressed: #daf4de;
    --sds-color-semantic-positive-fill-primary: #85d898;
    --sds-color-semantic-positive-fill-secondary: #053918;
    --sds-color-semantic-positive-ornament: #bcecc5;
    --sds-color-semantic-positive-surface-primary: #053918;
    --sds-color-semantic-positive-surface-secondary: #85d898;
    --sds-color-semantic-positive-text: #bcecc5;
    --sds-corner-l: 20px;
    --sds-corner-m: 4px;
    --sds-corner-s: 2px;
    --sds-corner-none: 0px;
    --sds-drop-shadow-l: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
    --sds-drop-shadow-m: 0px 2px 10px 0px rgba(0, 0, 0, 0.15),
      0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    --sds-drop-shadow-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    --sds-drop-shadow-none: none;
    --sds-font-color: black;
    --sds-font-font-family-body: "Inter", sans-serif;
    --sds-font-font-family-caps: "Inter", sans-serif;
    --sds-font-font-family-code: "IBM Plex Mono", monospace;
    --sds-font-font-family-header: "Inter", sans-serif;
    --sds-font-font-family-tabular: "Inter", sans-serif;
    --sds-font-body-xxxs-400-font: 400 11px/16px "Inter", sans-serif;
    --sds-font-body-xxxs-400-letter-spacing: 0.1px;
    --sds-font-body-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-body-xxxs-600-letter-spacing: 0.1px;
    --sds-font-body-xxs-400-font: 400 12px/18px "Inter", sans-serif;
    --sds-font-body-xxs-400-letter-spacing: 0.1px;
    --sds-font-body-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-body-xxs-600-letter-spacing: 0.1px;
    --sds-font-body-xs-400-font: 400 13px/20px "Inter", sans-serif;
    --sds-font-body-xs-400-letter-spacing: 0.08px;
    --sds-font-body-xs-600-font: 600 13px/20px "Inter", sans-serif;
    --sds-font-body-xs-600-letter-spacing: 0.08px;
    --sds-font-body-s-400-font: 400 14px/24px "Inter", sans-serif;
    --sds-font-body-s-400-letter-spacing: 0.08px;
    --sds-font-body-s-600-font: 600 14px/24px "Inter", sans-serif;
    --sds-font-body-s-600-letter-spacing: 0.08px;
    --sds-font-body-m-400-font: 400 16px/26px "Inter", sans-serif;
    --sds-font-body-m-400-letter-spacing: 0px;
    --sds-font-body-m-600-font: 600 16px/26px "Inter", sans-serif;
    --sds-font-body-m-600-letter-spacing: 0px;
    --sds-font-body-l-400-font: 400 18px/28px "Inter", sans-serif;
    --sds-font-body-l-400-letter-spacing: 0px;
    --sds-font-body-l-600-font: 600 18px/28px "Inter", sans-serif;
    --sds-font-body-l-600-letter-spacing: 0px;
    --sds-font-caps-xxxxs-600-font: 600 10px/14px "Inter", sans-serif;
    --sds-font-caps-xxxxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxxxs-600-text-transform: uppercase;
    --sds-font-caps-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-caps-xxxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxxs-600-text-transform: uppercase;
    --sds-font-caps-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-caps-xxs-600-letter-spacing: 0.5px;
    --sds-font-caps-xxs-600-text-transform: uppercase;
    --sds-font-header-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
    --sds-font-header-xxxs-600-letter-spacing: 0.1px;
    --sds-font-header-xxs-600-font: 600 12px/18px "Inter", sans-serif;
    --sds-font-header-xxs-600-letter-spacing: 0.1px;
    --sds-font-header-xs-600-font: 600 13px/18px "Inter", sans-serif;
    --sds-font-header-xs-600-letter-spacing: 0.08px;
    --sds-font-header-s-600-font: 600 14px/20px "Inter", sans-serif;
    --sds-font-header-s-600-letter-spacing: 0.08px;
    --sds-font-header-m-600-font: 600 16px/22px "Inter", sans-serif;
    --sds-font-header-m-600-letter-spacing: 0px;
    --sds-font-header-l-600-font: 600 18px/24px "Inter", sans-serif;
    --sds-font-header-l-600-letter-spacing: 0px;
    --sds-font-header-xl-600-font: 600 22px/30px "Inter", sans-serif;
    --sds-font-header-xl-600-letter-spacing: 0px;
    --sds-font-header-xxl-600-font: 600 26px/34px "Inter", sans-serif;
    --sds-font-header-xxl-600-letter-spacing: 0px;
    --sds-font-tabular-xs-400-font: 400 13px/20px "Inter", sans-serif;
    --sds-font-tabular-xs-400-font-variant-numeric: tabular-nums;
    --sds-font-tabular-xs-400-letter-spacing: 0px;
    --sds-font-tabular-xs-600-font: 600 13px/20px "Inter", sans-serif;
    --sds-font-tabular-xs-600-font-variant-numeric: tabular-nums;
    --sds-font-tabular-xs-600-letter-spacing: 0px;
    --sds-font-tabular-s-400-font: 400 14px/24px "Inter", sans-serif;
    --sds-font-tabular-s-400-font-variant-numeric: tabular-nums;
    --sds-font-tabular-s-400-letter-spacing: 0px;
    --sds-font-tabular-s-600-font: 600 14px/24px "Inter", sans-serif;
    --sds-font-tabular-s-600-font-variant-numeric: tabular-nums;
    --sds-font-tabular-s-600-letter-spacing: 0px;
    --sds-font-code-xs-400-font: 400 13px/20px "IBM Plex Mono", monospace;
    --sds-font-code-xs-400-letter-spacing: 0px;
    --sds-font-code-xs-600-font: 600 13px/20px "IBM Plex Mono", monospace;
    --sds-font-code-xs-600-letter-spacing: 0px;
    --sds-font-code-s-400-font: 400 14px/24px "IBM Plex Mono", monospace;
    --sds-font-code-s-400-letter-spacing: 0px;
    --sds-font-code-s-600-font: 600 14px/24px "IBM Plex Mono", monospace;
    --sds-font-code-s-600-letter-spacing: 0px;
    --sds-icon-size-input-height: 16px;
    --sds-icon-size-input-width: 16px;
    --sds-icon-size-xs-height: 12px;
    --sds-icon-size-xs-width: 12px;
    --sds-icon-size-s-height: 16px;
    --sds-icon-size-s-width: 16px;
    --sds-icon-size-l-height: 24px;
    --sds-icon-size-l-width: 24px;
    --sds-icon-size-xl-height: 32px;
    --sds-icon-size-xl-width: 32px;
    --sds-space-default: 12px;
    --sds-space-xxxs: 2px;
    --sds-space-xxs: 4px;
    --sds-space-xs: 6px;
    --sds-space-s: 8px;
    --sds-space-m: 12px;
    --sds-space-l: 16px;
    --sds-space-xl: 24px;
    --sds-space-xxl: 40px;
  }
}
