:root {
  --sds-borders-error-400: 1px solid #fef2f2;
  --sds-borders-gray-100: 1px solid #f8f8f8;
  --sds-borders-gray-200: 1px solid #eaeaea;
  --sds-borders-gray-300: 1px solid #cccccc;
  --sds-borders-gray-400: 1px solid #999999;
  --sds-borders-gray-500: 1px solid #767676;
  --sds-borders-gray-dashed: 2px dashed #999999;
  --sds-borders-link-dashed: 1px dashed;
  --sds-borders-link-solid: 1px solid;
  --sds-borders-primary-300: 1px solid #a6c9ff;
  --sds-borders-primary-400: 1px solid #0b68f8;
  --sds-borders-primary-500: 1px solid #0142a4;
  --sds-borders-primary-600: 1px solid #002660;
  --sds-borders-primary-dashed: 2px dashed #0b68f8;
  --sds-borders-success-400: 1px solid #ecf5f0;
  --sds-borders-warning-400: 1px solid #fcf6ec;
  --sds-color-primitive-blue-100: #f5f9ff;
  --sds-color-primitive-blue-200: #e9f1ff;
  --sds-color-primitive-blue-300: #a6c9ff;
  --sds-color-primitive-blue-400: #0b68f8;
  --sds-color-primitive-blue-500: #0142a4;
  --sds-color-primitive-blue-600: #002660;
  --sds-color-primitive-gray-100: #f8f8f8;
  --sds-color-primitive-gray-200: #eaeaea;
  --sds-color-primitive-gray-300: #cccccc;
  --sds-color-primitive-gray-400: #999999;
  --sds-color-primitive-gray-500: #767676;
  --sds-color-primitive-gray-600: #545454;
  --sds-color-primitive-gray-black: #000000;
  --sds-color-primitive-gray-white: #ffffff;
  --sds-color-primitive-green-100: #ecf5f0;
  --sds-color-primitive-green-200: #e6f7ed;
  --sds-color-primitive-green-400: #3cb371;
  --sds-color-primitive-green-500: #349a61;
  --sds-color-primitive-green-600: #1c7f48;
  --sds-color-primitive-purple-100: #f4f0f9;
  --sds-color-primitive-purple-200: #f0ebf6;
  --sds-color-primitive-purple-400: #7a41ce;
  --sds-color-primitive-purple-500: #703cbe;
  --sds-color-primitive-purple-600: #693bac;
  --sds-color-primitive-red-100: #fef2f2;
  --sds-color-primitive-red-200: #f8e8e8;
  --sds-color-primitive-red-400: #dc132c;
  --sds-color-primitive-red-500: #c61128;
  --sds-color-primitive-red-600: #b70016;
  --sds-color-primitive-yellow-100: #fcf6ec;
  --sds-color-primitive-yellow-200: #fff3e1;
  --sds-color-primitive-yellow-400: #f5a623;
  --sds-color-primitive-yellow-500: #d8921f;
  --sds-color-primitive-yellow-600: #946314;
  --sds-color-primitive-overlay-100: rgba(0, 0, 0, 0.08);
  --sds-color-primitive-overlay-200: rgba(0, 0, 0, 0.03);
  --sds-color-semantic-text-base-primary: #000000;
  --sds-color-semantic-text-base-secondary: #767676;
  --sds-color-semantic-text-base-disabled: #cccccc;
  --sds-color-semantic-text-base-on-fill: #ffffff;
  --sds-color-semantic-text-base-on-fill-disabled: #999999;
  --sds-color-semantic-text-base-accent: #002660;
  --sds-color-semantic-text-action-default: #0b68f8;
  --sds-color-semantic-text-action-hover: #0142a4;
  --sds-color-semantic-text-action-pressed: #002660;
  --sds-color-semantic-text-beta: #693bac;
  --sds-color-semantic-text-info: #002660;
  --sds-color-semantic-text-negative: #b70016;
  --sds-color-semantic-text-notice: #946314;
  --sds-color-semantic-text-positive: #1c7f48;
  --sds-color-semantic-component-base-fill: #ffffff;
  --sds-color-semantic-component-base-fill-hover: #f8f8f8;
  --sds-color-semantic-component-base-fill-pressed: #f8f8f8;
  --sds-color-semantic-component-base-fill-open: #f8f8f8;
  --sds-color-semantic-component-base-fill-selected: #000000;
  --sds-color-semantic-component-base-fill-disabled: #cccccc;
  --sds-color-semantic-component-base-on-fill-disabled: #999999;
  --sds-color-semantic-component-base-surface-primary: #ffffff;
  --sds-color-semantic-component-base-surface-secondary: #f8f8f8;
  --sds-color-semantic-component-base-surface-tertiary: #eaeaea;
  --sds-color-semantic-component-base-divider: #eaeaea;
  --sds-color-semantic-component-base-border: #999999;
  --sds-color-semantic-component-base-border-hover: #000000;
  --sds-color-semantic-component-base-border-disabled: #cccccc;
  --sds-color-semantic-component-base-icon: #767676;
  --sds-color-semantic-component-base-icon-hover: #000000;
  --sds-color-semantic-component-base-icon-pressed: #000000;
  --sds-color-semantic-component-base-icon-disabled: #cccccc;
  --sds-color-semantic-component-accent-fill: #0b68f8;
  --sds-color-semantic-component-accent-fill-hover: #0142a4;
  --sds-color-semantic-component-accent-fill-pressed: #002660;
  --sds-color-semantic-component-accent-fill-on-fill: #ffffff;
  --sds-color-semantic-component-accent-fill-disabled: #a6c9ff;
  --sds-color-semantic-component-accent-surface: #e9f1ff;
  --sds-color-semantic-component-accent-border: #0b68f8;
  --sds-color-semantic-component-accent-border-hover: #0142a4;
  --sds-color-semantic-component-accent-border-open: #0b68f8;
  --sds-color-semantic-component-accent-border-focus: #0b68f8;
  --sds-color-semantic-component-accent-border-selected: #0b68f8;
  --sds-color-semantic-component-accent-border-disabled: #a6c9ff;
  --sds-color-semantic-component-accent-icon: #0b68f8;
  --sds-color-semantic-component-beta-fill: #7a41ce;
  --sds-color-semantic-component-beta-fill-hover: #703cbe;
  --sds-color-semantic-component-beta-fill-pressed: #693bac;
  --sds-color-semantic-component-beta-fill-on-fill: #ffffff;
  --sds-color-semantic-component-beta-surface: #f0ebf6;
  --sds-color-semantic-component-beta-border: #7a41ce;
  --sds-color-semantic-component-beta-icon: #7a41ce;
  --sds-color-semantic-component-info-fill: #0b68f8;
  --sds-color-semantic-component-info-fill-hover: #0142a4;
  --sds-color-semantic-component-info-fill-pressed: #002660;
  --sds-color-semantic-component-info-fill-on-fill: #ffffff;
  --sds-color-semantic-component-info-surface: #e9f1ff;
  --sds-color-semantic-component-info-border: #0b68f8;
  --sds-color-semantic-component-info-icon: #0b68f8;
  --sds-color-semantic-component-negative-fill: #dc132c;
  --sds-color-semantic-component-negative-fill-hover: #c61128;
  --sds-color-semantic-component-negative-fill-pressed: #b70016;
  --sds-color-semantic-component-negative-fill-on-fill: #ffffff;
  --sds-color-semantic-component-negative-surface: #f8e8e8;
  --sds-color-semantic-component-negative-border: #dc132c;
  --sds-color-semantic-component-negative-icon: #dc132c;
  --sds-color-semantic-component-notice-fill: #f5a623;
  --sds-color-semantic-component-notice-fill-hover: #d8921f;
  --sds-color-semantic-component-notice-fill-pressed: #946314;
  --sds-color-semantic-component-notice-fill-on-fill: #ffffff;
  --sds-color-semantic-component-notice-surface: #fff3e1;
  --sds-color-semantic-component-notice-border: #f5a623;
  --sds-color-semantic-component-notice-icon: #f5a623;
  --sds-color-semantic-component-positive-fill: #3cb371;
  --sds-color-semantic-component-positive-fill-hover: #349a61;
  --sds-color-semantic-component-positive-fill-pressed: #1c7f48;
  --sds-color-semantic-component-positive-fill-on-fill: #ffffff;
  --sds-color-semantic-component-positive-surface: #e6f7ed;
  --sds-color-semantic-component-positive-border: #3cb371;
  --sds-color-semantic-component-positive-icon: #3cb371;
  --sds-corners-corner-l: 20px;
  --sds-corners-corner-m: 4px;
  --sds-corners-corner-s: 2px;
  --sds-corners-corner-none: 0px;
  --sds-drop-shadows-shadow-l: 0px 2px 12px 0px rgba(0, 0, 0, 0.3);
  --sds-drop-shadows-shadow-m: 0px 2px 10px 0px rgba(0, 0, 0, 0.15),
    0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --sds-drop-shadows-shadow-s: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  --sds-font-color: black;
  --sds-font-font-family-body: "Inter", sans-serif;
  --sds-font-font-family-caps: "Inter", sans-serif;
  --sds-font-font-family-code: "IBM Plex Mono", monospace;
  --sds-font-font-family-header: "Inter", sans-serif;
  --sds-font-font-family-tabular: "Inter", sans-serif;
  --sds-font-body-xxxs-400-font: 400 11px/16px "Inter", sans-serif;
  --sds-font-body-xxxs-400-letter-spacing: 0.1px;
  --sds-font-body-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
  --sds-font-body-xxxs-600-letter-spacing: 0.1px;
  --sds-font-body-xxs-400-font: 400 12px/18px "Inter", sans-serif;
  --sds-font-body-xxs-400-letter-spacing: 0.1px;
  --sds-font-body-xxs-600-font: 600 12px/18px "Inter", sans-serif;
  --sds-font-body-xxs-600-letter-spacing: 0.1px;
  --sds-font-body-xs-400-font: 400 13px/20px "Inter", sans-serif;
  --sds-font-body-xs-400-letter-spacing: 0.08px;
  --sds-font-body-xs-600-font: 600 13px/20px "Inter", sans-serif;
  --sds-font-body-xs-600-letter-spacing: 0.08px;
  --sds-font-body-s-400-font: 400 14px/24px "Inter", sans-serif;
  --sds-font-body-s-400-letter-spacing: 0.08px;
  --sds-font-body-s-600-font: 600 14px/24px "Inter", sans-serif;
  --sds-font-body-s-600-letter-spacing: 0.08px;
  --sds-font-body-m-400-font: 400 16px/26px "Inter", sans-serif;
  --sds-font-body-m-400-letter-spacing: 0px;
  --sds-font-body-m-600-font: 600 16px/26px "Inter", sans-serif;
  --sds-font-body-m-600-letter-spacing: 0px;
  --sds-font-body-l-400-font: 400 18px/28px "Inter", sans-serif;
  --sds-font-body-l-400-letter-spacing: 0px;
  --sds-font-body-l-600-font: 600 18px/28px "Inter", sans-serif;
  --sds-font-body-l-600-letter-spacing: 0px;
  --sds-font-caps-xxxxs-600-font: 600 10px/14px "Inter", sans-serif;
  --sds-font-caps-xxxxs-600-letter-spacing: 0.5px;
  --sds-font-caps-xxxxs-600-text-transform: uppercase;
  --sds-font-caps-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
  --sds-font-caps-xxxs-600-letter-spacing: 0.5px;
  --sds-font-caps-xxxs-600-text-transform: uppercase;
  --sds-font-caps-xxs-600-font: 600 12px/18px "Inter", sans-serif;
  --sds-font-caps-xxs-600-letter-spacing: 0.5px;
  --sds-font-caps-xxs-600-text-transform: uppercase;
  --sds-font-header-xxxs-600-font: 600 11px/16px "Inter", sans-serif;
  --sds-font-header-xxxs-600-letter-spacing: 0.1px;
  --sds-font-header-xxs-600-font: 600 12px/18px "Inter", sans-serif;
  --sds-font-header-xxs-600-letter-spacing: 0.1px;
  --sds-font-header-xs-600-font: 600 13px/18px "Inter", sans-serif;
  --sds-font-header-xs-600-letter-spacing: 0.08px;
  --sds-font-header-s-600-font: 600 14px/20px "Inter", sans-serif;
  --sds-font-header-s-600-letter-spacing: 0.08px;
  --sds-font-header-m-600-font: 600 16px/22px "Inter", sans-serif;
  --sds-font-header-m-600-letter-spacing: 0px;
  --sds-font-header-l-600-font: 600 18px/24px "Inter", sans-serif;
  --sds-font-header-l-600-letter-spacing: 0px;
  --sds-font-header-xl-600-font: 600 22px/30px "Inter", sans-serif;
  --sds-font-header-xl-600-letter-spacing: 0px;
  --sds-font-header-xxl-600-font: 600 26px/34px "Inter", sans-serif;
  --sds-font-header-xxl-600-letter-spacing: 0px;
  --sds-font-tabular-xs-400-font: 400 13px/20px "Inter", sans-serif;
  --sds-font-tabular-xs-400-font-variant-numeric: tabular-nums;
  --sds-font-tabular-xs-400-letter-spacing: 0px;
  --sds-font-tabular-xs-600-font: 600 13px/20px "Inter", sans-serif;
  --sds-font-tabular-xs-600-font-variant-numeric: tabular-nums;
  --sds-font-tabular-xs-600-letter-spacing: 0px;
  --sds-font-tabular-s-400-font: 400 14px/24px "Inter", sans-serif;
  --sds-font-tabular-s-400-font-variant-numeric: tabular-nums;
  --sds-font-tabular-s-400-letter-spacing: 0px;
  --sds-font-tabular-s-600-font: 600 14px/24px "Inter", sans-serif;
  --sds-font-tabular-s-600-font-variant-numeric: tabular-nums;
  --sds-font-tabular-s-600-letter-spacing: 0px;
  --sds-font-code-xs-400-font: 400 13px/20px "IBM Plex Mono", monospace;
  --sds-font-code-xs-400-letter-spacing: 0px;
  --sds-font-code-xs-600-font: 600 13px/20px "IBM Plex Mono", monospace;
  --sds-font-code-xs-600-letter-spacing: 0px;
  --sds-font-code-s-400-font: 400 14px/24px "IBM Plex Mono", monospace;
  --sds-font-code-s-400-letter-spacing: 0px;
  --sds-font-code-s-600-font: 600 14px/24px "IBM Plex Mono", monospace;
  --sds-font-code-s-600-letter-spacing: 0px;
  --sds-icon-sizes-input-height: 16px;
  --sds-icon-sizes-input-width: 16px;
  --sds-icon-sizes-xs-height: 12px;
  --sds-icon-sizes-xs-width: 12px;
  --sds-icon-sizes-s-height: 16px;
  --sds-icon-sizes-s-width: 16px;
  --sds-icon-sizes-l-height: 24px;
  --sds-icon-sizes-l-width: 24px;
  --sds-icon-sizes-xl-height: 32px;
  --sds-icon-sizes-xl-width: 32px;
  --sds-spaces-default: 12px;
  --sds-spaces-xxxs: 2px;
  --sds-spaces-xxs: 4px;
  --sds-spaces-xs: 6px;
  --sds-spaces-s: 8px;
  --sds-spaces-m: 12px;
  --sds-spaces-l: 16px;
  --sds-spaces-xl: 24px;
  --sds-spaces-xxl: 40px;
}
