.app {
  width: 90%;
  margin: auto;
}

h1.title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #3867fa;
  padding: 20px 0 10px;
}

p.description {
  margin-bottom: 20px;
  color: rgb(76, 76, 94);
}

button {
  outline: none !important;
}

#pagination-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 15px 0;
}
