# .github/workflows/namespace-check.yml

name: "Namespace Check"
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1

      - name: Namespace Checking
        run: lerna run namespace-check
