name: Push Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches: "*"

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3
      - uses: bahmutov/npm-install@v1

      - name: Build component library in dist/
        run: yarn build

      - name: Lint
        run: |
          yarn lint

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Run Tests
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3
      - uses: bahmutov/npm-install@v1

      - name: Test
        run: |
          yarn test

  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v3
      - uses: bahmutov/npm-install@v1

      - name: Build
        run: |
          yarn build
