name: Push Tests

# Workflow event triggers
on:
  push:
    branches:
      - main # Triggered on pushes to the 'main' branch
  pull_request:
    branches: "*" # Triggered on pull requests for any branch

jobs:
  lint:
    runs-on: ubuntu-latest # Use the latest version of the Ubuntu runner environment
    steps:
      # Step 1: Check out the repository code
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 2: Set up Node.js environment and cache Yarn dependencies
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version" # Specify the Node.js version from '.node-version' file
          cache: "yarn" # Cache Yarn dependencies for faster builds

      # Step 3: Install project dependencies using Yarn
      - name: Install dependencies
        run: yarn

      # Step 4: Build the component library in 'dist/' directory
      - name: Build component library in dist/
        run: yarn build
        env:
          ZEROHEIGHT_API_CLIENT: ${{ secrets.ZEROHEIGHT_API_CLIENT }}
          ZEROHEIGHT_API_KEY: ${{ secrets.ZEROHEIGHT_API_KEY }}
          ZEROHEIGHT_STYLEGUIDE_ID: ${{ secrets.ZEROHEIGHT_STYLEGUIDE_ID }}

      # Step 5: Run linting
      - name: Lint
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Check out the repository code
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 2: Set up Node.js environment and cache Yarn dependencies
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version" # Specify the Node.js version from '.node-version' file
          cache: "yarn" # Cache Yarn dependencies for faster builds

      # Step 3: Install project dependencies using Yarn
      - name: Install dependencies
        run: yarn

      # Step 4: Build components package (required for data-viz package dependency)
      - name: Build components package
        run: yarn lerna run build --scope=@czi-sds/components

      # Step 5: Run tests
      - name: Test
        run: yarn test

  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Check out the repository code
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Step 2: Set up Node.js environment and cache Yarn dependencies
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version" # Specify the Node.js version from '.node-version' file
          cache: "yarn" # Cache Yarn dependencies for faster builds

      # Step 3: Install project dependencies using Yarn
      - name: Install dependencies
        run: yarn

      # Step 4: Build
      - name: Build
        run: yarn build
        env:
          ZEROHEIGHT_API_CLIENT: ${{ secrets.ZEROHEIGHT_API_CLIENT }}
          ZEROHEIGHT_API_KEY: ${{ secrets.ZEROHEIGHT_API_KEY }}
          ZEROHEIGHT_STYLEGUIDE_ID: ${{ secrets.ZEROHEIGHT_STYLEGUIDE_ID }}
