name: Push Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches: "*"

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1

      - name: Build
        run: |
          yarn build

  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1

      - name: Lint
        run: |
          yarn lint

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Run Tests
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/checkout@v2
      - uses: bahmutov/npm-install@v1

      - name: Test
        run: |
          yarn test
